html body {
  margin: 0px;
  padding: 0px;
  background: #eee;
  font-family: "Pattaya", sans-serif;
}
html body .contenedor {
  display: block;
}
html body .contenedor .logo {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 42px;
  color: #666;
}
html body .contenedor .cont_btns {
  display: block;
  width: 300px;
  margin: 0 auto;
}
html body .contenedor .cont_btns .botones {
  width: 300px;
  margin: 0 auto;
  background: #666;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.6);
}
html body .contenedor .cont_btns .botones li {
  float: left;
  text-align: center;
  font-size: 20px;
  color: #fff;
  width: 100px;
  padding: 6px 0px;
}
html body .contenedor .cont_btns .botones li.selected {
  background: #fff;
  color: #666;
}
@media only screen and (min-width: 610px) {
  html body .contenedor .form {
    margin: 0px;
  }
  html body .contenedor .empezar {
    background: #eee url("../images/mika_mano.jpg") no-repeat;
    background-size: auto;
    background-position-x: right;
    background-position-y: top;
  }
  html body .contenedor .contacto {
    background: #eee url("../images/mika_mano.jpg") no-repeat;
    background-size: auto;
    background-position-x: right;
    background-position-y: top;
  }
}
@media only screen and (max-width: 610px) {
  html body .contenedor .form {
    margin: 0px auto;
  }
  html body .contenedor .empezar {
    background: #eee;
  }
  html body .contenedor .contacto {
    background: #eee;
  }
}
html body .contenedor .video {
  width: 90%;
  max-width: 700px;
  margin: 20px auto 10px auto;
}
html body .contenedor .playvideo {
  width: 160px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  background: #666;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
html body .contenedor .empezar {
  display: block;
  min-width: 320px;
  width: 90%;
  max-width: 700px;
  margin: 25px auto 25px auto;
  font-family: "Lato", sans-serif;
}
html body .contenedor .empezar .form {
  min-height: 400px;
  padding: 20px 8px 0px 8px;
}
html body .contenedor .empezar .form h3 {
  padding-top: 8px;
}
html body .contenedor .empezar .form .input input {
  height: 35px;
}
html body .contenedor .clientes {
  display: none;
  min-width: 320px;
  width: 90%;
  max-width: 400px;
  margin: 25px auto 25px auto;
  font-family: "Lato", sans-serif;
}
html body .contenedor .clientes .lista_clientes {
  width: 100%;
  margin: 0 auto;
}
html body .contenedor .clientes .lista_clientes li {
  margin-bottom: 4px;
  height: 100px;
  position: relative;
  background: #ddd;
}
html body .contenedor .clientes .lista_clientes li .foto {
  position: absolute;
  width: 146px;
  top: 2px;
  left: 2px;
  text-align: center;
  height: 96px;
}
html body .contenedor .clientes .lista_clientes li .foto a {
  display: block;
}
html body .contenedor .clientes .lista_clientes li .foto a img {
  height: 100%;
  max-width: 100%;
}
html body .contenedor .clientes .lista_clientes li .info {
  width: calc(100% - 162px);
  position: absolute;
  left: 160px;
  top: 2px;
  height: 81px;
  font-size: 35px;
  padding-top: 12px;
}
html body .contenedor .contacto {
  display: none;
  min-width: 320px;
  width: 90%;
  max-width: 700px;
  margin: 25px auto 25px auto;
  font-family: "Lato", sans-serif;
}
html body .contenedor .contacto .form {
  min-height: 400px;
  padding: 20px 8px 0px 8px;
}
html body .contenedor .contacto .form h3 {
  padding-top: 6px;
}
html body .contenedor .contacto .form .input input {
  height: 30px;
}
html body .contenedor .form {
  display: block;
  width: 303px;
  display: block;
  padding-top: 10px;
}
html body .contenedor .form h1 {
  font-size: 20px;
  color: #666;
}
html body .contenedor .form h2 {
  font-size: 16px;
  color: #666;
}
html body .contenedor .form h3 {
  font-size: 14px;
  color: #666;
}
html body .contenedor .form .input input {
  width: 100%;
}
html body .contenedor .form .acciones {
  padding-top: 10px;
}
html body .contenedor .form .acciones .btn_empezar {
  padding: 10px 0px;
  color: #fff;
  border: 0px;
  font-size: 14px;
  cursor: pointer;
  width: 180px;
  text-align: center;
}
html body .contenedor .form .acciones .btn_color_1 {
  background: #900;
}
html body .contenedor .form .acciones .btn_color_2 {
  background: #900;
}
html body .contenedor .form .acciones .mes_gratis {
  font-size: 18px;
  color: #666;
  padding-top: 4px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track-piece {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

/*# sourceMappingURL=misitiodelivery.css.map */
