html {
    height: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}
.contenedor{
    height: 100%;
    position: relative;
}
.contenedor .pop_up{
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}
.contenedor .pop_up .cont_pop_up{
    position: relative;
    height: 100%;
    width: 100%;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido{
    width: 90%;
    max-width: 360px;
    height: 80%;
    max-height: 560px;
    background: #fff;
    border-radius: 12px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_title{
    font-size: 22px;
    color: #000;
    position: absolute;
    top: 10px;
    left: 5%;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_stitle{
    font-size: 14px;
    color: #000;
    position: absolute;
    top: 32px;
    left: 5.2%;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info{
    width: 96%;
    margin: 0 2%;
    height: calc(100% - 95px);
    top: 50px;
    background: #ddd;
    position: absolute;
    overflow-y: auto;   
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info{
    
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .nom_tel{
    padding: 10px 10px 0px 10px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .nom_tel span{
    display: block;
    font-size: 16px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .nom_tel input{
    width: 100%;
    height: 28px;
    border: 0px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .nom_tel select{
    width: 100%;
    height: 28px;
    border: 0px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .nom_tel .nom{
    float: left;
    width: 46%;
    padding: 0 2%;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .nom_tel .tel{
    float: left;
    width: 46%;
    padding: 0 2%;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .nom_tel .direccion{
    width: 72%;
    padding: 0 2%;
    float: left;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .nom_tel .tipo{
    width: 96%;
    padding: 0 2%;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .nom_tel .depto{
    width: 20%;
    padding: 0 2%;
    float: left;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .preguntas{
    padding: 15px 10px 0px 10px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .preguntas .pregunta{
    padding: 0 2%;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .preguntas .pregunta .pre_nom{
    width: 90%;
    float: left;
    font-size: 14px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .preguntas .pregunta .pre_check{
    width: 10%;
    float: left;
    text-align: right;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .preguntas .pregunta .pre_check input{
    width: 16px;
    height: 16px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .preguntas .pregunta .btn_pedido{
    width: 33.33%;
    float: left;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .preguntas .pregunta .btn_pedido .btn_ped{
    width: 86%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 2%;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .pro_cat_promo{
    
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .pro_cat_promo .pro_cat_item{
    padding: 10px 10px 0px 10px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .pro_cat_promo .pro_cat_item .pro_cat_item_select{
    width: 10%;
    float: left;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .pro_cat_promo .pro_cat_item .pro_cat_item_select select{
    width: 100%;
    height: 25px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .pro_cat_promo .pro_cat_item .pro_cat_item_nombre{
    width: 88%;
    float: left;
    padding-left: 2%;
    font-size: 14px;
    padding-top: 4px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .process_carro{
    padding: 10px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .process_carro .process_carro_promo{
    position: relative;
    padding: 6px 6px 36px 6px;
    margin-bottom: 10px;
    background: #f5f5f5;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .process_carro .process_carro_promo .promo_info{
    padding-left: 4px;
    font-size: 26px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .process_carro .process_carro_promo .promo_precio{
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-size: 20px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .process_carro .process_carro_promo .promo_delete{
    position: absolute;
    top: 4px;
    right: 4px;
    width: 30px;
    height: 30px;
    font-size: 31px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .process_carro .process_carro_promo .promo_detalle{
    padding-left: 6px;
    padding-top: 6px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .process_carro .process_carro_promo .promo_detalle .promo_detalle_item{
    border-bottom: 1px solid #bbb;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .process_carro .process_carro_promo .promo_detalle .promo_detalle_item .promo_detalle_nombre{
    float: left;
    padding: 3px 0px;
    width: calc(100% - 25px);
    font-size: 12px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .process_carro .process_carro_promo .promo_detalle .promo_detalle_item .promo_detalle_acciones{
    width: 25px;
    float: left;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .process_carro .process_carro_promo .promo_detalle .promo_detalle_item .promo_detalle_acciones .accion{
    font-size: 22px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .process_carro .process_carro_restantes{
    padding: 6px;
    background: #f5f5f5;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .process_carro .process_carro_restantes .restantes_detalle_item{
    display: block;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_nombre{
    float: left;
    width: calc(100% - 109px);
    padding-top: 6px;
    padding-left: 4px;
    font-size: 13px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones{
    float: left;
    width: 105px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones .precio{
    float: left;
    width: 64px;
    margin-left: 1px;
    padding-top: 6px;
    font-size: 16px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones .espacio{
    width: 20px;
    height: 20px;
    float: left;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones .pregunta{
    width: 20px;
    height: 20px;
    float: left;
    padding-top: 5px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones .accion{
    width: 19px;
    float: left;
    margin-left: 1px;
    padding-top: 5px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .s_pregunta{
    padding: 10px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .s_pregunta .e_pregunta{
    padding-bottom: 16px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .s_pregunta .e_pregunta .pregunta_titulo{
    font-size: 20px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .s_pregunta .e_pregunta .titulo_v_pregunta{
    margin-top: 4px;
    font-size: 12px;
    margin-bottom: 4px;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .s_pregunta .e_pregunta .v_pregunta{
    
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .s_pregunta .e_pregunta .v_pregunta .n_pregunta{
    font-size: 14px;
    padding: 6px;
    background: #ccc;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_info .data_info .s_pregunta .e_pregunta .v_pregunta .selected{
    background: #999;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_submit{
    width: 100%;
    display: block;
    position: absolute;
    bottom: 10px;
    text-align: center;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .n_submit input{
    width: 120px;
    height: 30px;
    background: #999;
    margin: 0 auto;
    border: 0px;
    color: #fff;
}
.contenedor .pop_up .cont_pop_up .nuevo_pedido .np_close{
    width: 50px;
    height: 50px;
    right: -45px;
    top: -45px;
    background: #000;
    position: absolute;
    border-radius: 25px;
    margin: 30px;
}
.contenedor .pop_up .cont_pop_up .modificar_pedido{
    width: 700px;
    height: 400px;
    background: #fff;
    border-radius: 12px;
}
.contenedor .pop_up .cont_pop_up .modificar_pedido .n_title{
    font-size: 30px;
    color: #000;
    position: absolute;
    top: 20px;
    left: 30px;
}
.pedidos{
    width: 360px;
    height: 100%;
    position: relative;
    float: left;
}
.pedidos .titulo{
    height: 60px;
    width: 100%;
    background-color: #999;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    border-bottom: 4px solid #ccc;
}
.pedidos .titulo .ttl{
    position: absolute;
    font-size: 18px;
    color: #fff;
    top: 18px;
    left: 8px;
}
.pedidos .titulo .opciones{
    position: absolute;
    top: 12px;
    right: 6px;
}
.pedidos .titulo .opciones .config{
    float: left;
    font-size: 28px;
    padding: 0px 4px;
}
.pedidos .titulo .opciones .nuevo{
    float: left;
    font-size: 28px;
    padding: 0px 4px;
}
.pedidos .contenido{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.pedidos .contenido .lista_pedidos{
    background: #ddd;
    padding: 68px 8px 8px 8px;
    min-height: calc(100% - 76px);
}
.pedidos .contenido .lista_pedidos .pedido{
    position: relative;
    height: 80px;
    background: #eee;
    margin-bottom: 8px;
}
.pedidos .contenido .lista_pedidos .seleccionado{
    background: #c99;
    color: #fff;
}
.pedidos .contenido .lista_pedidos .pedido .p_cont{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 125px;
    z-index: 2;
}
.pedidos .contenido .lista_pedidos .pedido .p_num{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    z-index: 1;
}
.pedidos .contenido .lista_pedidos .pedido .p_estado{
    position: absolute;
    top: 22px;
    left: 10px;
    font-size: 14px;
    z-index: 1;
}
.pedidos .contenido .lista_pedidos .pedido .p_precio{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 20px;
    z-index: 1;
}
.pedidos .contenido .lista_pedidos .pedido .btn_mod{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: #000;
    z-index: 1;
}
.pedidos .contenido .lista_pedidos .pedido .btn_open{
    position: absolute;
    top: 10px;
    right: 44px;
    width: 30px;
    height: 30px;
    background: #00f;
    z-index: 1;
}
.pedidos .contenido .lista_pedidos .pedido .btn_carro{
    position: absolute;
    top: 10px;
    right: 78px;
    width: 30px;
    height: 30px;
    background: #ccc;
    z-index: 1;
}
.pedidos .contenido .lista_pedidos .pedido .p_opciones{
    position: absolute;
    bottom: 8px;
    right: 10px;
    width: 114px;
    background: #000;
    z-index: 1;
}
.pedidos .contenido .lista_pedidos .pedido .p_opciones .p_anterior{
    width: 20px;
    float: left;
    height: 25px;
    background: #666;
}
.pedidos .contenido .lista_pedidos .pedido .p_opciones .p_nombre{
    width: 74px;
    float: left;
    text-align: center;
    font-size: 11px;
    padding-top: 4px;
    color: #fff;
}
.pedidos .contenido .lista_pedidos .pedido .p_opciones .p_siguiente{
    width: 20px;
    float: left;
    height: 25px;
    background: #666;
}
.pedidos .contenido .lista_pedidos .pedido .t_tiempo{
    position: absolute;
    bottom: 8px;
    right: 130px;
    width: 80px;
    background: #000;
    z-index: 1;
}
.pedidos .contenido .lista_pedidos .pedido .t_tiempo .t_anterior{
    width: 20px;
    float: left;
    height: 25px;
    background: #666;
}
.pedidos .contenido .lista_pedidos .pedido .t_tiempo .t_nombre{
    width: 40px;
    float: left;
    text-align: center;
    font-size: 12px;
    padding-top: 3px;
    color: #fff;
}
.pedidos .contenido .lista_pedidos .pedido .t_tiempo .t_siguiente{
    width: 20px;
    float: left;
    height: 25px;
    background: #666;
}

.cont_sis{
    height: 100%;
    width: 100%;
}
.cont_sis .alert_socket{
    display: block;
    background: #fdd;
    padding: 5px;
    display: none;
}
.cont_sis .alert_socket .text{
    display: block;
    padding: 5px;
    color: #900;
    font-size: 18px;
    border: 1px solid #900;
}
.cont_sis .alert_socket .text .text_1{
    display: block;
    color: #900;
    font-size: 18px;
}
.cont_sis .alert_socket .text .text_2{
    display: block;
    color: #900;
    font-size: 14px;
}
.categorias{
    width: 250px;
    height: 100%;
    position: relative;
    float: left;
    margin-left: 6px;
}
.categorias .titulo{
    height: 60px;
    width: 100%;
    background-color: #999;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    border-bottom: 4px solid #ccc;
}
.categorias .titulo .ttl{
    position: absolute;
    font-size: 18px;
    color: #fff;
    top: 18px;
    left: 8px;
}
.categorias .titulo .opciones{
    position: absolute;
    top: 12px;
    right: 6px;
}
.categorias .titulo .opciones .nuevo{
    float: left;
    font-size: 28px;
    padding: 0px 4px;
}
.categorias .titulo .opciones .config{
    float: left;
    font-size: 28px;
    padding: 0px 4px;
}
.categorias .contenido{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.categorias .contenido .lista_categorias{
    background: #ddd;
    padding: 68px 8px 8px 8px;
    min-height: calc(100% - 76px);
}
.categorias .contenido .lista_categorias .categoria{
    position: relative;
    height: 64px;
    background: #eee;
    margin-bottom: 8px;
}
.categorias .contenido .lista_categorias .categoria .nombre{
    
}
.categorias .contenido .lista_productos{
    background: #ddd;
    padding: 68px 8px 8px 8px;
    min-height: calc(100% - 76px);
}
::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}
::-webkit-scrollbar-track-piece {
    background: #eee
}
::-webkit-scrollbar-thumb {
    background: #888
}