html {
  height: 100%;
}
html body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
html body .contenedor {
  height: 100%;
  position: relative;
}
html body .contenedor .contenido {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
html body .contenedor .contenido .pedidos {
  position: relative;
}
html body .contenedor .contenido .pedidos .lista_pedidos {
  display: block;
  width: 100%;
  overflow-y: scroll;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista {
  padding: 0px 10px;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido {
  width: 100%;
  position: relative;
  background: #eee;
  margin-bottom: 8px;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .p_cont {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 142px;
  z-index: 2;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .p_num {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 20px;
  z-index: 1;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .p_nom {
  position: absolute;
  top: 30px;
  left: 10px;
  font-size: 15px;
  z-index: 1;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .p_estado {
  position: absolute;
  top: 70px;
  left: 10px;
  font-size: 15px;
  z-index: 1;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .p_precio {
  position: absolute;
  top: 85px;
  left: 10px;
  font-size: 25px;
  z-index: 1;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .p_alert {
  position: absolute;
  top: 72px;
  left: 10px;
  font-size: 14px;
  z-index: 1;
  color: #900;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .btn_mod {
  position: absolute;
  top: 10px;
  right: 44px;
  width: 35px;
  height: 35px;
  font-size: 35px;
  z-index: 1;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .btn_open {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 100px;
  background: #ccc;
  z-index: 1;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .btn_open .flecha_01 {
  width: 8px;
  height: 30px;
  position: absolute;
  background: #bbb;
  left: 12px;
  top: 47px;
  transform: rotate(25deg);
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .btn_open .flecha_02 {
  width: 8px;
  height: 30px;
  position: absolute;
  background: #bbb;
  left: 12px;
  top: 23px;
  transform: rotate(-25deg);
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .select {
  background: #666;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .select .flecha_01 {
  background: #333;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .select .flecha_02 {
  background: #333;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .btn_carro {
  position: absolute;
  top: 10px;
  right: 82px;
  width: 35px;
  height: 35px;
  z-index: 1;
  font-size: 35px;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .btn_chat {
  position: absolute;
  top: 10px;
  right: 120px;
  width: 35px;
  height: 35px;
  z-index: 1;
  background: #009;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .chat_num {
  position: absolute;
  top: 31px;
  right: 116px;
  width: 16px;
  height: 16px;
  z-index: 2;
  border-radius: 8px;
  background: red;
  text-align: center;
  font-size: 11px;
  padding: 3px 1px 0px 1px;
  color: #fff;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .p_opciones {
  position: absolute;
  top: 48px;
  right: 44px;
  width: 111px;
  background: #000;
  z-index: 1;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .p_opciones .p_anterior {
  width: 20px;
  float: left;
  height: 30px;
  background: #666;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .p_opciones .p_nombre {
  width: 71px;
  float: left;
  text-align: center;
  font-size: 12px;
  padding-top: 7px;
  color: #fff;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .p_opciones .p_siguiente {
  width: 20px;
  float: left;
  height: 30px;
  background: #666;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .t_tiempo {
  position: absolute;
  top: 80px;
  right: 44px;
  width: 111px;
  background: #000;
  z-index: 1;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .t_tiempo .t_anterior {
  width: 20px;
  float: left;
  height: 30px;
  background: #666;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .t_tiempo .t_nombre {
  width: 71px;
  float: left;
  text-align: center;
  font-size: 12px;
  padding-top: 3px;
  color: #fff;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido .t_tiempo .t_siguiente {
  width: 20px;
  float: left;
  height: 30px;
  background: #666;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido_h1 {
  height: 120px;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .pedido_h2 {
  height: 120px;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .seleccionado {
  background: #c99;
  color: #fff;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .seleccionado .btn_open {
  background: #b88;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .seleccionado .btn_open .flecha_01 {
  background: #a77;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .seleccionado .btn_open .flecha_02 {
  background: #a77;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .seleccionado .select {
  background: #633;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .seleccionado .select .flecha_01 {
  background: #300;
}
html body .contenedor .contenido .pedidos .lista_pedidos .cont_lista .seleccionado .select .flecha_02 {
  background: #300;
}
html body .contenedor .contenido .pedidos .titulo_pedidos {
  width: 100%;
  height: 80px;
  background: #666;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
}
html body .contenedor .contenido .pedidos .titulo_pedidos .cont_titulo {
  width: 100%;
  height: 100%;
  position: relative;
}
html body .contenedor .contenido .pedidos .titulo_pedidos .cont_titulo .tt {
  left: 15px;
  font-size: 24px;
  color: #fff;
}
html body .contenedor .contenido .pedidos .titulo_pedidos .cont_titulo .mas {
  right: 15px;
  font-size: 24px;
  color: #fff;
}
html body .contenedor .contenido .pedidos .titulo_pedidos .cont_titulo .mas .cont_m {
  position: relative;
  width: 30px;
  height: 30px;
}
html body .contenedor .contenido .pedidos .titulo_pedidos .cont_titulo .mas .cont_m .m1 {
  background: #fff;
  width: 30px;
  height: 4px;
  position: absolute;
  left: 0px;
  top: 13px;
}
html body .contenedor .contenido .pedidos .titulo_pedidos .cont_titulo .mas .cont_m .m2 {
  background: #fff;
  height: 30px;
  width: 4px;
  position: absolute;
  left: 13px;
  top: 0px;
}
html body .contenedor .contenido .categorias {
  position: relative;
}
html body .contenedor .contenido .categorias .titulo_categorias {
  width: 100%;
  height: 80px;
  background: #666;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
}
html body .contenedor .contenido .categorias .titulo_categorias .cont_titulo {
  width: 100%;
  height: 100%;
  position: relative;
}
html body .contenedor .contenido .categorias .titulo_categorias .cont_titulo .tt {
  left: 20px;
  font-size: 24px;
  color: #fff;
}
html body .contenedor .contenido .categorias .lista_categorias {
  display: block;
  padding: 90px 0px 0px 0px;
  width: 100%;
  height: calc(100% - 90px);
  overflow-y: scroll;
}
html body .contenedor .contenido .categorias .lista_categorias .cont_categorias {
  padding: 0px 0px 0px 5px;
}
html body .contenedor .contenido .categorias .lista_categorias .cont_categorias .categoria {
  display: block;
  position: relative;
  height: 80px;
  background: #ccc;
  margin-bottom: 4px;
}
html body .contenedor .contenido .categorias .lista_categorias .cont_categorias .categoria .cont_info_cat {
  width: 92%;
  left: 4%;
}
html body .contenedor .contenido .categorias .lista_categorias .cont_categorias .categoria .cont_info_cat .nombre {
  font-size: 20px;
}
html body .contenedor .contenido .categorias .lista_categorias .cont_categorias .categoria .cont_info_cat .descripcion {
  font-size: 12px;
}
html body .contenedor .contenido .productos {
  position: relative;
}
html body .contenedor .contenido .productos .titulo_productos {
  width: 100%;
  height: 80px;
  background: #666;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
}
html body .contenedor .contenido .productos .titulo_productos .cont_titulo {
  width: 100%;
  height: 100%;
  position: relative;
}
html body .contenedor .contenido .productos .titulo_productos .cont_titulo .tt {
  left: 20px;
  font-size: 24px;
  color: #fff;
}
html body .contenedor .contenido .productos .lista_productos {
  display: block;
  padding: 90px 0px 0px 0px;
  width: 100%;
  height: calc(100% - 90px);
  overflow-y: scroll;
}
html body .contenedor .contenido .productos .lista_productos .cont_productos {
  padding: 0px 0px 0px 5px;
}
html body .contenedor .contenido .productos .lista_productos .cont_productos .producto {
  display: block;
  position: relative;
  height: 80px;
  background: #ccc;
  margin-bottom: 4px;
}
html body .contenedor .contenido .productos .lista_productos .cont_productos .producto .cont_info_pro {
  width: 92%;
  left: 4%;
}
html body .contenedor .contenido .productos .lista_productos .cont_productos .producto .cont_info_pro .nombre {
  font-size: 20px;
}
html body .contenedor .contenido .productos .lista_productos .cont_productos .producto .cont_info_pro .descripcion {
  font-size: 12px;
}
html body .contenedor .pop_up {
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  display: none;
}
html body .contenedor .pop_up .cont_pop_up {
  position: relative;
  height: 100%;
  width: 100%;
}
html body .contenedor .pop_up .cont_pop_up .pop {
  width: 90%;
  max-width: 360px;
  height: 80%;
  max-height: 560px;
  background: #fff;
  border-radius: 12px;
  display: none;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo {
  position: relative;
  width: 100%;
  height: 100%;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .titulo {
  position: absolute;
  width: 100%;
  height: 70px;
  top: 0px;
  left: 0px;
  z-index: 2;
  background: #999;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .titulo .cont_titulo {
  width: 100%;
  height: 100%;
  position: relative;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .titulo .cont_titulo .ctitle {
  width: 92%;
  margin: 0px auto;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .titulo .cont_titulo .ctitle h1 {
  font-size: 20px;
  text-align: center;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .titulo .cont_titulo .ctitle h2 {
  font-size: 12px;
  text-align: center;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cerrar {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -15px;
  right: -15px;
  z-index: 3;
  background: #000;
  border-radius: 20px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #eee;
  overflow-y: auto;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion {
  padding-top: 70px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista {
  display: block;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .categoria {
  position: relative;
  height: 100px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .categoria .cont_info_cat {
  width: 92%;
  left: 4%;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .categoria .cont_info_cat .nombre {
  font-size: 20px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .categoria .cont_info_cat .descripcion {
  font-size: 12px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .producto {
  position: relative;
  height: 100px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .producto .cont_info_pro {
  width: 92%;
  left: 4%;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .producto .cont_info_pro .nombre {
  font-size: 20px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .producto .cont_info_pro .descripcion {
  font-size: 12px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .s_pregunta {
  padding: 10px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .s_pregunta .e_pregunta {
  padding-bottom: 16px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .s_pregunta .e_pregunta .pregunta_titulo {
  font-size: 20px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .s_pregunta .e_pregunta .titulo_v_pregunta {
  margin-top: 4px;
  font-size: 12px;
  margin-bottom: 4px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .s_pregunta .e_pregunta .v_pregunta .n_pregunta {
  font-size: 14px;
  padding: 6px;
  background: #ccc;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .s_pregunta .e_pregunta .v_pregunta .selected {
  background: #999;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .pro_cat_promo .pro_cat_item {
  padding: 7px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .pro_cat_promo .pro_cat_item .pro_cat_item_select {
  width: 40px;
  float: left;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .pro_cat_promo .pro_cat_item .pro_cat_item_select .select_promo {
  width: 40px;
  height: 30px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .pro_cat_promo .pro_cat_item .pro_cat_item_nombre {
  float: left;
  width: calc(100% - 48px);
  padding: 4px 0px 0px 8px;
  font-size: 14px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .process_carro {
  padding: 10px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .process_carro .process_carro_promo {
  position: relative;
  padding: 6px 6px 36px 6px;
  margin-bottom: 10px;
  background: #e9e9e9;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .process_carro .process_carro_promo .promo_info {
  padding-left: 4px;
  font-size: 26px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .process_carro .process_carro_promo .promo_precio {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: 20px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .process_carro .process_carro_promo .promo_delete {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 30px;
  height: 30px;
  font-size: 31px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .process_carro .process_carro_promo .promo_detalle {
  padding-left: 6px;
  padding-top: 6px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .process_carro .process_carro_promo .promo_detalle .promo_detalle_item {
  border-bottom: 1px solid #bbb;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .process_carro .process_carro_promo .promo_detalle .promo_detalle_item .promo_detalle_nombre {
  float: left;
  padding: 3px 0px;
  width: calc(100% - 25px);
  font-size: 12px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .process_carro .process_carro_promo .promo_detalle .promo_detalle_item .promo_detalle_acciones {
  width: 25px;
  float: left;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .process_carro .process_carro_promo .promo_detalle .promo_detalle_item .promo_detalle_acciones .accion {
  font-size: 22px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .process_carro .process_carro_restantes {
  padding: 6px;
  background: #e9e9e9;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .process_carro .process_carro_restantes .restantes_detalle_item {
  display: block;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_nombre {
  float: left;
  width: calc(100% - 109px);
  padding-top: 6px;
  padding-left: 4px;
  font-size: 13px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones {
  float: left;
  width: 105px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones .precio {
  float: left;
  width: 64px;
  margin-left: 1px;
  padding-top: 6px;
  font-size: 16px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones .espacio {
  width: 20px;
  height: 20px;
  float: left;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones .pregunta {
  width: 20px;
  height: 20px;
  float: left;
  padding-top: 5px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .lista .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones .accion {
  width: 19px;
  float: left;
  margin-left: 1px;
  padding-top: 5px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs {
  padding: 10px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input {
  padding-bottom: 10px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .nom {
  width: 49%;
  float: left;
  padding-left: 1%;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .nom span {
  font-size: 15px;
  display: block;
  padding-bottom: 4px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .nom input {
  border: 0px;
  width: 100%;
  height: 25px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .tel {
  width: 49%;
  float: left;
  padding-right: 1%;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .tel span {
  font-size: 15px;
  display: block;
  padding-bottom: 4px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .tel input {
  border: 0px;
  width: 100%;
  height: 25px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .despacho {
  display: block;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .despacho span {
  font-size: 15px;
  display: block;
  padding-bottom: 4px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .despacho select {
  border: 0px;
  width: 100%;
  height: 25px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .comentario {
  display: block;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .comentario span {
  font-size: 15px;
  display: block;
  padding-bottom: 4px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .comentario textarea {
  border: 0px;
  width: 100%;
  height: 75px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .direccion {
  width: 77%;
  float: left;
  padding-right: 1%;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .direccion span {
  font-size: 15px;
  display: block;
  padding-bottom: 4px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .direccion input {
  border: 0px;
  width: 100%;
  height: 25px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .depto {
  width: 21%;
  float: left;
  padding-left: 1%;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .depto span {
  font-size: 15px;
  display: block;
  padding-bottom: 4px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .depto input {
  border: 0px;
  width: 100%;
  height: 25px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .pregunta {
  position: relative;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .pregunta span {
  display: block;
  font-size: 15px;
  padding: 6px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .pregunta input {
  right: 6px;
  width: 18px;
  height: 18px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .pregunta select {
  right: 6px;
  width: 40px;
  height: 24px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .pregunta:nth-child(even) {
  background: #f9f9f9;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .cont_ped_input .pregunta:nth-child(odd) {
  background: #f0f0f0;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs #m_direccion {
  display: none;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .ttl_dir {
  font-size: 15px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .pedido_direcciones {
  font-size: 13px;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .pedido_direcciones .pedido_direccion {
  height: 30px;
  border-bottom: 1px solid #999;
  background: #eee;
  position: relative;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .pedido_direcciones .pedido_direccion .md_direccion {
  left: 5px;
  width: calc(100% - 40px);
  padding: 5px 0px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .pedido_direcciones .pedido_direccion .md_borrar {
  right: 5px;
  width: 20px;
  height: 20px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .pedido_direcciones .pedido_direccion .md_borrar .cont {
  width: 100%;
  height: 100%;
  position: relative;
  transform: rotate(45deg);
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .pedido_direcciones .pedido_direccion .md_borrar .cont .l1 {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 9px;
  left: 0px;
  background: #999;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .informacion .pedidos_inputs .pedido_direcciones .pedido_direccion .md_borrar .cont .l2 {
  position: absolute;
  height: 20px;
  width: 2px;
  left: 9px;
  top: 0px;
  background: #999;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .cont_info .info_btn {
  padding-bottom: 60px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .n_submit {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  background: #999;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .n_submit .cont_submit {
  width: 100%;
  height: 100%;
  position: relative;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .n_submit .cont_submit input {
  width: 120px;
  height: 30px;
  text-align: center;
  font-size: 14px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .n_submit .cont_submit .cont_total {
  right: 10px;
  width: calc(100% - 20px);
  text-align: right;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .n_submit .cont_submit .cont_total .sub {
  font-size: 14px;
}
html body .contenedor .pop_up .cont_pop_up .pop .cont_nuevo .n_submit .cont_submit .cont_total .total {
  font-size: 22px;
}

@media only screen and (max-width: 768px) {
  .contenedor .contenido .pedidos {
    width: 100%;
    height: 100%;
    background: #ddd;
    position: relative;
  }
  .contenedor .contenido .pedidos .lista_pedidos {
    padding: 90px 0px 80px 0px;
    height: calc(100% - 170px);
  }
  .contenedor .contenido .pedidos .config_pedido {
    width: 100%;
    height: 80px;
    background: #ccc;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 999;
  }
  .contenedor .contenido .pedidos .config_pedido .cont_config {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .contenedor .contenido .pedidos .config_pedido .cont_config .icons {
    width: 174px;
  }
  .contenedor .contenido .pedidos .config_pedido .cont_config .icons .ic {
    width: 50px;
    height: 50px;
    margin: 0px 4px;
    float: left;
  }
  .contenedor .contenido .pedidos .config_pedido .cont_config .icons .icon1 {
    background: #600;
  }
  .contenedor .contenido .pedidos .config_pedido .cont_config .icons .icon2 {
    background: #060;
  }
  .contenedor .contenido .pedidos .config_pedido .cont_config .icons .icon3 {
    background: #006;
  }
  .contenedor .contenido .categorias {
    display: none;
  }
  .contenedor .contenido .productos {
    display: none;
  }
  .contenedor .contenido .configuracion {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  .contenedor .contenido .pedidos {
    width: calc(50% - 62px);
    height: 100%;
    background: #ddd;
    float: left;
  }
  .contenedor .contenido .pedidos .lista_pedidos {
    padding: 90px 0px 0px 0px;
    height: calc(100% - 90px);
  }
  .contenedor .contenido .pedidos .config_pedido {
    display: none;
  }
  .contenedor .contenido .categorias {
    width: calc(25% - 2px);
    height: 100%;
    background: #ddd;
    float: left;
    margin-left: 2px;
  }
  .contenedor .contenido .productos {
    width: calc(25% - 2px);
    height: 100%;
    background: #ddd;
    float: left;
    margin-left: 2px;
  }
  .contenedor .contenido .configuracion {
    width: 60px;
    height: calc(100% - 10px);
    background: #aaa;
    float: left;
    margin-left: 2px;
    padding-top: 5px;
  }
  .contenedor .contenido .configuracion .ic {
    width: 50px;
    height: 50px;
    margin: 0px auto 5px auto;
  }
  .contenedor .contenido .configuracion .icon1 {
    background: #600;
  }
  .contenedor .contenido .configuracion .icon2 {
    background: #060;
  }
  .contenedor .contenido .configuracion .icon3 {
    background: #006;
  }
}
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track-piece {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

/*# sourceMappingURL=pos_.css.map */
