html {
    height: 100%;
    body {
        margin: 0px;
        padding: 0px;
        height: 100%;
        .contenedor{
            height: 100%;
            position: relative;
            .lista_pedidos{
                position: absolute;
                top: 0px; 
                left: 0px;
                z-index: 1;
                width: calc(100% - 10px);
                height: calc(100% - 10px);
                padding: 5px;
                .pedido{
                    width: 200px;
                    float: left;
                    margin-right: 5px;
                    .titulo{
                        width: 100%;
                        background: #ccc;
                        height: 40px;
                        position: relative;
                        .txt{
                            left: 5px;
                            width: 125px;
                            font-size: 16px;
                        }
                        .ver{
                            width: 25px;
                            height: 25px;
                            right: 5px;
                            background: #999;
                        }
                        .borrar{
                            width: 25px;
                            height: 25px;
                            right: 35px;
                            background: #666;
                        }
                    }
                    .detalle{
                        width: 100%;
                        background: #ddd;
                        height: 140px;
                    }
                }
            }
            .pop_up{
                position: fixed;
                top: 0px; 
                left: 0px;
                z-index: 2;
                width: 100%;
                height: 100%;
                display: none;
            }
        }
    }
}