$modal-header-height: 80px;
$pagina-header-height: 130px;
$menu-left-icon-top: 40px;

/* MENU LEFT */
body {
    .contenedor {
        .menu_left {
            .cont_menu_left {
                .btn_toogle {
                    top: $menu-left-icon-top;
                }
                .menu_info {
                    padding: $menu-left-icon-top 20px 0px 20px;
                    h1 {}
                    ul {
                        padding-top: 15px;
                        li {
                            padding: 5px 0px;
                        }
                    }
                }
            }
        }
    }
}
/* PAGINA */
body {
    .contenedor {
        .pagina {
            .cont_pagina {
                .header {
                    height: $pagina-header-height;
                    .header_logo {
                        /*height: 70px;*/
                        img {}
                    }
                    .menu_right {
                        .shop {
                            font-size: 40px;
                        }
                        .cantcart {
                            .cantcart_num{}
                        }
                    }
                }
                .footer {
                }
                .contenido {
                    .cont_contenido {
                        width: 94%;
                        max-width: 400px;
                        padding-top: $pagina-header-height;
                        .botones_principales {
                            height: 100px;
                            margin-top: 5px;
                            background-size: cover;
                            .cont_bp{
                                .nombre {}
                                .descripcion {}
                                .precio {}
                            }
                        }
                    }
                    .padding_cont_f1 {}
                    .padding_cont_f2 {}
                }
            }
        }
    }
}
/* MODALS */
body {
    .contenedor {
        .modals{
            background: rgba(0, 0, 0, 0.75);
            .cont_modals {
                .modal {
                    width: 90%;
                    height: 90%;
                    max-width: 400px;
                    max-height: 580px;
                    .cont_modal {
                        .titulo {
                            height: $modal-header-height;
                            text-align: center;
                            .cont_titulo{
                                h1{}
                                h2{}
                            }
                        }
                        .close {
                            width: 34px;
                            height: 34px;
                            top: -12px;
                            right: -12px;
                            border-radius: 17px;
                        }
                        .cont_info {
                            .info_modal {
                                padding-top: $modal-header-height;
                            }
                        }
                        .sub_total{
                            bottom: 51px;
                            left: 0px;
                            width: 100%;
                            text-align: right;
                            .cont_subtotal {
                                .total_detalle {
                                    right: 6px;
                                    li {}
                                }
                            }
                        }
                        .acciones {
                            text-align: center;
                            height: 38px;
                            bottom: 0px;
                            left: 0px;
                            padding-top: 13px;
                            .confirmar{
                                padding: 5px 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.modal_carta {
    .cont_modal {
        .titulo {
            .cont_titulo {
                h1 {
                    
                }
                h2 {
                    
                }
            }
        }
        .close{
            
        }
        .cont_info {
            .info_modal{
                .lista_productos{
                    padding: 10px;
                    .producto {
                        margin-bottom: 6px;
                        padding: 6px;
                        .nombre {
                            font-size: 16px;
                        }
                        .descripcion {
                            font-size: 10px;
                        }
                    }
                    .categoria {
                        margin-bottom: 6px;
                        padding: 6px;
                        .detalle_pro {
                            .nombre_pro {
                                width: calc(100% - 70px);
                                font-size: 13px;
                            }
                            .precio_pro {
                                width: 70px;
                                text-align: right;
                                font-size: 16px;
                            }
                        }
                        .nombre {
                            font-size: 16px;
                        }
                        .descripcion {
                            font-size: 10px;
                        }
                        .info {
                            .info_cont {
                                .info_01 {
                                    width: calc(100% - 30px);
                                    font-size: 12px;
                                    padding-top: 9px;
                                }
                                .info_02 {
                                    width: 30px;
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                }
                .lista_categorias {
                    padding: 10px;
                    .producto {
                        margin-bottom: 6px;
                        padding: 6px;
                        .nombre {
                            font-size: 16px;
                        }
                        .descripcion {
                            font-size: 10px;
                        }
                    }
                    .categoria {
                        margin-bottom: 6px;
                        position: relative;
                        background-size: cover;
                        .cont_fondo{
                            padding: 13px;
                            .nombre {
                                font-size: 24px;
                            }
                            .descripcion {
                                font-size: 13px;
                            }
                            .precio {
                                position: absolute;
                                top: 4px;
                                right: 4px;
                                font-size: 28px;
                            }
                        }
                    }
                    .categoriaopen{
                        margin-bottom: 6px;
                        position: relative;
                        background-size: cover;
                        .cont_fondo{
                            padding: 13px;
                            .nombre {
                                font-size: 24px;
                            }
                            .descripcion {
                                font-size: 13px;
                            }
                            .precio {
                                position: absolute;
                                top: 4px;
                                right: 4px;
                                font-size: 28px;
                            }
                            .listado {
                                padding: 20px 0px 0px 0px;
                                .prod_item {
                                    display: block;
                                    position: relative;
                                    padding-bottom: 6px;
                                    border-bottom: 1px solid #ccc;
                                    .prod_i_nom{
                                        display: block;
                                        width: calc(100% - 75px);
                                        .prod_i_ttl{
                                            display: block;
                                            font-size: 18px;
                                        }
                                        .prod_i_sttl{
                                            display: block;
                                            font-size: 12px;
                                        }
                                    }
                                    .prod_i_pre{
                                        position: absolute;
                                        right: 0px;
                                        width: 75px;
                                        font-size: 17px;
                                        text-align: right;
                                    }
                                }
                            }
                        }
                    }
                    .promocion{
                        margin-bottom: 6px;
                        background-size: cover;
                        .cont_fondo{
                            padding: 13px;
                            position: relative;
                            .nombre {
                                font-size: 24px;
                            }
                            .descripcion {
                                font-size: 13px;
                            }
                            .precio {
                                position: absolute;
                                top: 13px;
                                right: 13px;
                                font-size: 28px;
                            }
                            .listado {
                                padding: 15px 0px 0px 0px;
                                .prod_item {
                                    font-size: 14px;
                                    padding-top: 2px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal_productos_promo {
    .cont_modal {
        .titulo {
            .cont_titulo {
                h1 {}
                h2 {}
            }
        }
        .close {}
        .cont_info {
            .info_modal{
                padding-bottom: 52px;
                .pro_cat_promo {
                    padding: 10px;
                    .pro_cat_item {
                        margin-top: 2px;
                        padding: 8px 4px;
                        .pro_cat_item_select {
                            float: left;
                            width: 40px;
                            .select_promo {
                                width: 100%;
                            }
                        }
                        .pro_cat_item_nombre {
                            width: calc(100% - 50px);
                            padding-left: 10px;
                            font-size: 16px;
                            padding-top: 0px;
                        }
                    }
                }
            }
        }
        .acciones {
            .confirmar {}
        }
    }
}
.modal_pregunta_productos {
    .cont_modal {
        .titulo {
            .cont_titulo {
                h1 { padding: 0px 30px }
                h2 {}
            }
        }
        .close {}
        .cont_info {
            .info_modal {
                .s_pregunta {
                    padding: 10px;
                    .e_pregunta {
                        padding-bottom: 16px;
                        .pregunta_titulo {
                            font-size: 20px;
                        }
                        .v_pregunta {
                            .n_pregunta {
                                padding: 6px;
                                font-size: 14px;
                            }
                            .selected {}
                        }
                        .titulo_v_pregunta {
                            margin-top: 4px;
                            font-size: 12px;
                            margin-bottom: 4px;
                        }
                    }
                }
            }
        }
        .acciones {
            .confirmar {}
        }
    }
}

.modal_carro {
    .cont_modal {
        .titulo {
            .cont_titulo {
                h1 {}
                h2 {}
            }
        }
        .close {}
        .cont_info {
            .info_modal {}
        }
        .acciones {
            .confirmar {}
        }
    }
}
.paso_01 {
    .process_carro{
        padding: 10px;
        .process_carro_promo {
            margin-bottom: 10px;
            padding: 6px 6px 36px 6px;
            .promo_info {
                padding-left: 4px;
            }
            .promo_precio {
                position: absolute;
                bottom: 4px;
                right: 4px;
            }
            .promo_detalle {
                padding-left: 6px;
                padding-top: 6px;
                .promo_detalle_item {
                    .promo_detalle_nombre {
                        padding: 3px 0px;
                        width: calc(100% - 25px);
                    }
                    .promo_detalle_acciones {
                        width: 25px;
                        .accion {
                            
                        }
                        .precio {
                            
                        }
                    }
                }
            }
            .promo_delete {
                font-size: 31px;
            }
        }
        .process_carro_restantes {
            padding: 6px;
            .restantes_detalle_item {
                margin-bottom: 1px;
                .restantes_detalle_nombre {
                    width: calc(100% - 109px);
                    padding-top: 6px;
                    padding-left: 4px;
                }
                .restantes_detalle_acciones {
                    width: 105px;
                    .accion {
                        width: 19px;
                        margin-left: 1px;
                        padding-top: 5px;
                    }
                    .precio {
                        width: 64px;
                        margin-left: 1px;
                        padding-top: 6px;
                    }
                    .pregunta {
                        width: 19px;
                        margin-left: 1px;
                        padding-top: 5px;
                    }
                    .espacio {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
        .process_carro_precio_carta {
            text-align: right;
        }
    }
    .sub_total {
        height: 50px;
        .cont_subtotal {
            .total_detalle {
                right: 6px;
                li {}
            }
        }
    }
}
.paso_02 {
    .cont_direccion{
        .direccion_opciones {
            padding: 10px;
            .dir_op {
                position: relative;
                height: 60px;
                margin-bottom: 4px;
                .codir{
                    padding-left: 15px;
                    .title {}
                    .stitle {}
                    .alert { font-size: 13px }
                }
            }
            .dir_op_select {
            }
        }
    }
}
.paso_02a {
    .cont_direccion{
        .direccion_op1{
            padding: 10px;
            .dir_locales{
                margin-bottom: 10px;
                .cont_local{
                    .local_info {
                        width: calc(100% - 50px);
                        padding-top: 10px;
                        padding-bottom: 10px;
                        padding-left: 10px;
                        .title {
                            
                        }
                        .stitle {

                        }
                        .alert{
                            color: #D00;
                            font-size: 13px;
                            display: none;
                        }
                    }
                    .local_mapa {
                        width: 40px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        .icon_mapa {
                            width: 30px;
                            height: 30px;
                            background: url('/images/google-maps.png') no-repeat;
                        }
                    }
                }
                .lmap {
                    height: 150px;
                }
            }
        }
    }
}
.paso_02b {
    .cont_direccion{
        .direccion_op2 {
            #pac-input {
                margin: 1%;
                width: 97%;
                height: 40px
            }
            #map_direccion {
                height: 100%;
            }
        }
    }
}
.paso_03 {
    .cont_final{
        padding: 15px;
        .block_direccion {
            padding-bottom: 10px;
            .item_direccion {
                width: 50%;
            }
            .item_numero {
                width: 25%;
            }
            .item_depto {
                width: 25%;
            }
        }
        .block_nombre_telefono {
            padding-bottom: 10px;
            .item_nombre {
                width: 50%;
            }
            .item_telefono {
                width: 50%;
            }
        }
        .block_preguntas{
            padding-bottom: 10px;
            display: block;
            h1 {
                display: block;
                padding-bottom: 4px;
            }
            .preguntas {
                padding: 10px;
                .pregunta {
                    padding: 1px 0px;
                    li.pre_nom {
                        width: 90%;
                    }
                    li.pre_input {
                        width: 10%;
                        text-align: right;
                        input {
                            width: 16px;
                            height: 16px;
                            margin-top: 2px;
                        }
                    }
                }
            }
        }
    }
    .sub_total {
        height: 74px;
        .cont_subtotal {
            .total_detalle {
                right: 6px;
                li {}
            }
        }
    }
}
.paso_04 {
    .cont_modal{
        .titulo{
            h1{
                font-size: 30px !important;
            }
        }
        .info_modal{
            .pedido_mensaje{
                margin: 15px 25px 0px 25px;
                font-size: 15px;
                background: #fcc;
                padding: 10px;
                color: #600;
                display: none;
            }
            .pedido_final{
                padding: 10px;
                .cont_pedido{
                    margin: 0px 15px;
                    background: #ddd;
                    .estado{
                        width: 46%;
                        float: left;
                        display: block;
                        padding: 2%;
                        h1{
                            font-size: 12px;
                        }
                        h2{
                            font-size: 16px;
                        }
                    }
                    .tiempo{
                        width: 46%;
                        float: left;
                        display: block;
                        padding: 2%;
                        h1{
                            font-size: 12px;
                        }
                        h2{
                            font-size: 16px;
                        }
                    }
                }
                .posicion{
                    height: 240px;
                    background: #ccc;
                    display: block;
                    margin: 0px 15px;
                }
                .total{
                    font-size: 24px;
                    text-align: right;
                    display: block;
                    margin: 0 15px;
                    background: #ddd;
                    padding: 2%;
                }
            }
        }
    }
}
.prin_alpha_1 {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}
.prin_alpha_2 {
    background: linear-gradient(90deg, rgba(128,128,128,1) 0%, rgba(128,128,128,0) 100%);
}
.prin_alpha_3 {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}