html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    .contenedor {
        width: 100%;
        height: 100%;
        position: relative;
    }
}

/* MENU LEFT */
body {
    .contenedor {
        .menu_left {
            width: 219px;
            height: 100%;
            top: 0px;
            left: -220px;
            position: fixed;
            z-index: 2;
            .cont_menu_left {
                width: 100%;
                height: 100%;
                position: relative;
                .btn_toogle {
                    width: 40px;
                    height: 40px;
                    right: -50px;
                    font-size: 40px;
                    position: absolute;
                }
                .menu_info {
                    display: block;
                    h1 {}
                    ul {
                        li {}
                    }
                }
            }
        }
    }
}
/* PAGINA */
body {
    .contenedor {
        .pagina {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 1;
            .cont_pagina {
                position: relative;
                width: 100%;
                height: 100%;
                .header {
                    width: 100%;
                    top: 0px;
                    left: 0px;
                     z-index: 2;
                    .header_logo {
                        position: absolute;
                        img {
                            max-width: 100%;
                        }
                    }
                    .menu_right {
                        height: 40px;
                        width: 40px;
                        right: 20px;
                        position: absolute;
                        z-index: 2;
                        .shop {}
                        .cantcart {
                            width: 26px;
                            height: 26px;
                            border-radius: 13px;
                            top: 22px;
                            left: -10px;
                            position: absolute;
                            .cantcart_num{
                                position: absolute;
                            }
                        }
                    }
                }
                .footer {
                    height: 100px;
                    width: 100%;
                    bottom: 0px;
                    left: 0px;
                    z-index: 2;
                }
                .fixed {
                    position: fixed;
                }
                .contenido {
                    width: 100%;
                    z-index: 1;
                    .cont_contenido {
                        margin: 0 auto;
                        display: block;
                        .botones_principales {
                            display: block;
                            .cont_bp{
                                position: relative;
                                width: 100%;
                                height: 100%;
                                .nombre {
                                    position: absolute;
                                    top: 10px;
                                    left: 10px;
                                }
                                .descripcion {
                                    position: absolute;
                                    top: 32px;
                                    left: 10px;
                                    line-height: 15px;
                                    padding-right: 26%;
                                }
                                .precio {
                                    position: absolute;
                                    left: 10px;
                                    bottom: 10px;
                                }
                            }
                        }
                    }
                    .padding_cont_f1 {
                        padding-bottom: 110px
                    }
                    .padding_cont_f2 {
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }
}
/* MODALS */
body {
    .contenedor {
        .modals{
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 3;
            display: none;
            .cont_modals {
                width: 100%;
                height: 100%;
                position: relative;
                .modal {
                    position: absolute;
                    .cont_modal {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        .titulo {
                            position: absolute;
                            z-index: 2;
                            width: 100%;
                            top: 0px;
                            left: 0px;
                            .cont_titulo{
                                position: absolute;
                                width: 100%;
                                h1{
                                    display: block;
                                }
                                h2{
                                    display: block;
                                }
                            }
                        }
                        .close {
                            position: absolute;
                            z-index: 3;
                        }
                        .cont_info {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            overflow-y: auto;
                            z-index: 1;
                            .info_modal {
                                .pedido_final{
                                    display: block;
                                }
                            }
                        }
                        .sub_total {
                            position: absolute;
                            z-index: 2;
                            .cont_subtotal {
                                width: 100%;
                                height: 100%;
                                position: relative;
                            }
                        }
                        .acciones {
                            width: 100%;
                            position: absolute;
                            z-index: 2;
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}


.modal_pagina {
    
}

.modal_carta {
    .cont_modal {
        .titulo {
            .cont_titulo {
                h1 {
                    
                }
                h2 {
                    
                }
            }
        }
        .close{
            
        }
        .cont_info {
            .info_modal{
                .lista_productos {
                    .producto {
                        .nombre {}
                        .descripcion {}
                    }
                    .categoria {
                        .detalle_pro {
                            .nombre_pro {
                                float: left;
                            }
                            .precio_pro {
                                float: left;
                            }
                        }
                        .nombre {}
                        .descripcion {}
                        .info {
                            .info_cont {
                                .info_01 {
                                    float: left;
                                }
                                .info_02 {
                                    float: left;
                                }
                            }
                        }
                    }
                }
                .lista_categorias {
                    .producto {
                        .nombre {}
                        .descripcion {}
                    }
                    .categoria {
                        .nombre {}
                        .descripcion {}
                        .listado {
                            .prod_item {
                                .prod_i_nom {
                                    float: left;
                                }
                                .prod_i_pre {
                                    float: left;
                                }
                            }
                        }
                    }
                }
                .lista_promociones {
                    .promocion_categoria {
                        .pro_titulo {}
                        .item_pro_cat{
                            .item_pro_cat_cant {
                                float: left;
                            }
                            .item_pro_cat_nom {
                                float: left;
                            }
                        }
                    }
                    .promocion_producto {
                        .pro_titulo {

                        }
                        .item_pro_pro{

                        }
                    }
                }
            }
        }
    }
}

.modal_productos_promo {
    .cont_modal {
        .titulo {
            .cont_titulo {
                h1 {}
                h2 {}
            }
        }
        .close {}
        .cont_info {
            .info_modal{
                .pro_cat_promo {
                    .pro_cat_item {
                        .pro_cat_item_select {
                            .select_promo {}
                        }
                        .pro_cat_item_nombre {}
                    }
                }
            }
        }
        .acciones {
            .confirmar {}
        }
    }
}
.modal_pregunta_productos {
    .cont_modal {
        .titulo {
            .cont_titulo {
                h1 {}
                h2 {}
            }
        }
        .close {}
        .cont_info {
            .info_modal {
                .s_pregunta {
                    .e_pregunta {
                        .pregunta_titulo {
                        }
                        .v_pregunta {
                            .n_pregunta {}
                            .selected {}
                        }
                        .titulo_v_pregunta {}
                    }
                }
            }
        }
        .acciones {
            .confirmar {}
        }
    }
}

.modal_carro {
    .cont_modal {
        .titulo {
            .cont_titulo {
                h1 {}
                h2 {}
            }
        }
        .close {}
        .cont_info {
            .info_modal {}
        }
        .acciones {
            .confirmar {}
        }
    }
}
.paso_01 {
    .process_carro{
        .process_carro_promo {
            position: relative;
            .promo_info {
                
            }
            .promo_precio {
                
            }
            .promo_detalle {
                .promo_detalle_item {
                    .promo_detalle_nombre{
                        float: left;
                    }
                    .promo_detalle_acciones {
                        float: left;
                        .accion {
                            float: left;
                        }
                        .precio {
                            float: left;
                        }
                    }
                }
            }
            .promo_delete {
                position: absolute;
                top: 4px;
                right: 4px;
                width: 30px;
                height: 30px;
            }
        }
        .process_carro_restantes {
            .restantes_detalle_item {
                .restantes_detalle_nombre {
                    float: left;
                }
                .restantes_detalle_acciones {
                    float: left;
                    .accion {
                        float: left;
                    }
                    .precio {
                        float: left;
                    }
                    .pregunta {
                        float: left;
                    }
                    .espacio {
                        float: left;
                    }
                }
            }
        }
        .process_carro_precio_carta {}
    }
}
.paso_02 {
    .cont_direccion{
        height: 100%;
        .direccion_opciones {
            .dir_op {
                .title {
                    display: block;
                }
                .stitle {
                    display: block;
                }
            }
            .dir_op_select {
            }
        }
    }
}
.paso_02a {
    .cont_direccion{
        height: 100%;
        .direccion_op1{
            .dir_locales{
                .cont_local{
                    cursor: pointer;
                    .local_info {
                        .title {
                            display: block;
                        }
                        .stitle {
                            display: block;
                        }
                    }
                    .local_mapa {
                        .icon_mapa {}
                    }
                }
                .lmap {
                    display: none;
                }
            }
        }
    }
}
.paso_02b {
    .cont_direccion{
        height: 100%;
        .direccion_op2 {
            height: 100%;
            #pac-input {
                margin: 1%;
                width: 97%;
                height: 40px
            }
            #map_direccion {
                height: 100%;
            }
        }
    }
    .info_modal {
        height: calc(100% - 133px);
    }
}
.paso_03 {
    .cont_final{
        .block_direccion{
            display: block;
            li {
                float: left;
                h1 {
                    display: block;
                    font-size: 12px;
                }
                h2 {
                    display: block;
                    font-size: 16px;
                    height: 30px;
                    width: calc(100% - 2px);
                    padding-top: 3px;
                }
                input {
                    width: calc(100% - 2px);
                    margin-right: 2px;
                    border: 0px;
                    height: 30px;
                }
            }
        }
        .block_nombre_telefono {
            display: block;
            li {
                float: left;
            }
            input {
                width: calc(100% - 3px);
                margin-right: 3px;
                border: 0px;
                height: 30px;
            }
            h1 {
                display: block;
                font-size: 12px;
            }
        }
        .block_preguntas{
            display: block;
            h1 {
                display: block;
                font-size: 12px;
            }
            .preguntas {
                .pregunta {
                    li {
                        float: left;
                    }
                }
            }
        }
    }
}
.paso_04 {
    .info_modal_pedido{
        
    }
}

.hide {
    display: none;
}
::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}
::-webkit-scrollbar-track-piece {
    background: #eee
}
::-webkit-scrollbar-thumb {
    background: #888
}