html{
    body {
        margin: 0px;
        padding: 0px;
        background: #eee;
        font-family: 'Pattaya', sans-serif;
        .contenedor{
            display: block;
            .logo{
                width: 300px;
                text-align: center;
                margin: 0 auto;
                padding-top: 10px;
                font-size: 42px;
                color: #666;
            }
            .cont_btns{
                display: block;
                width: 300px;
                margin: 0 auto;
                .botones{
                    width: 300px;
                    margin: 0 auto;
                    background: #666;
                    cursor: pointer;
                    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.6);
                    li{
                        float: left;
                        text-align: center;
                        font-size: 20px;
                        color: #fff;
                        width: 100px;
                        padding: 6px 0px;
                    }
                    li.selected{
                        background: #fff;
                        color: #666;
                    }
                }
            }
            @media only screen and (min-width: 610px){
                .form{
                    margin: 0px;
                }
                .empezar{
                    background: #eee url('../images/mika_mano.jpg') no-repeat;
                    background-size: auto;
                    background-position-x: right;
                    background-position-y: top;
                }
                .contacto{
                    background: #eee url('../images/mika_mano.jpg') no-repeat;
                    background-size: auto;
                    background-position-x: right;
                    background-position-y: top;
                }
            }
            @media only screen and (max-width: 610px){
                .form{
                    margin: 0px auto;
                }
                .empezar{
                    background: #eee;
                }
                .contacto{
                    background: #eee;
                }
            }
            .video{
                width: 90%;
                max-width: 700px;
                margin: 20px auto 10px auto;
            }
            .playvideo{
                width: 160px;
                margin: 0 auto;
                text-align: center;
                padding: 10px;
                background: #666;
                font-size: 18px;
                color: #fff;
                cursor: pointer;
            }
            .empezar{
                display: block;
                min-width: 320px;
                width: 90%;
                max-width: 700px;
                margin: 25px auto 25px auto;
                font-family: 'Lato', sans-serif;
                .form{
                    min-height: 400px;
                    padding: 20px 8px 0px 8px;
                    h1{

                    }
                    h2{
                        padding-bottom: 15px;
                    }
                    h3{
                        padding-top: 10px;
                    }
                    .input{
                        input{
                            height: 40px;
                        }
                    }
                    .acciones{

                    }
                }
                .empezarok{
                    min-height: 430px;
                    display: none;
                    .titulo{
                        padding-top: 40px;
                        font-size: 60px;
                    }
                    .subtitulo{
                        font-size: 35px;
                    }
                    .leyenda{
                        font-size: 18px;
                    }
                }
            }
            .clientes{
                display: none;
                min-width: 320px;
                width: 90%;
                max-width: 400px;
                margin: 25px auto 25px auto;
                font-family: 'Lato', sans-serif;
                .lista_clientes{
                    width: 100%;
                    margin: 0 auto;
                    li{
                        margin-bottom: 4px;
                        height: 100px;
                        position: relative;
                        background: #ddd;
                        .foto{
                            position: absolute;
                            width: 146px;
                            top: 2px;
                            left: 2px;
                            text-align: center;
                            height: 96px;
                            a{
                                display: block;
                                img{
                                    height: 100%;
                                    max-width: 100%;
                                }
                            }
                        }
                        .info{
                            width: calc(100% - 162px);
                            position: absolute;
                            left: 160px;
                            top: 2px;
                            height: 81px;
                            font-size: 35px;
                            padding-top: 12px;
                        }
                    }
                }
            }
            .contacto{
                display: none;
                min-width: 320px;
                width: 90%;
                max-width: 700px;
                margin: 25px auto 25px auto;
                font-family: 'Lato', sans-serif;
                .form{
                    min-height: 400px;
                    padding: 20px 8px 0px 8px;
                    h1{
                        
                    }
                    h2{
                        padding-bottom: 10px;
                    }
                    h3{
                        padding-top: 4px;
                    }
                    .input{
                        input{
                            height: 40px;
                        }
                    }
                    .acciones{

                    }
                }
                .contactook{
                    min-height: 430px;
                    display: none;
                    .titulo{
                        padding-top: 40px;
                        font-size: 60px;
                    }
                    .subtitulo{
                        font-size: 35px;
                    }
                    .leyenda{
                        font-size: 18px;
                    }
                }
            }
            .form{
                display: block;
                width: 303px;
                h1{
                    font-size: 24px;
                    color: #666;
                }
                h2{
                    font-size: 18px;
                    color: #666;
                }
                h3{
                    font-size: 18px;
                    color: #666;
                }
                .input{
                    input{
                        width: 100%;
                        border: 1px solid #aaa;
                    }
                    textarea{
                        width: 100%;
                        height: 50px;
                        border: 1px solid #aaa;
                    }
                }
                .acciones{
                    padding-top: 10px;
                    .btn_empezar{
                        padding: 10px 0px;
                        color: #fff;
                        border: 0px;
                        font-size: 14px;
                        cursor: pointer;
                        width: 180px;
                        text-align: center;
                    }
                    .btn_color_1{
                        background: #900;
                    }
                    .btn_color_2{
                        background: #900;
                    }
                }
                .mes_gratis{
                    font-size: 18px;
                    color: #666;
                    padding-top: 4px;
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}
::-webkit-scrollbar-track-piece {
    background: #eee
}
::-webkit-scrollbar-thumb {
    background: #888
}
.grecaptcha-badge2 { 
    visibility: hidden;
}
.smallrecaptcha{
    display: none;
    padding-top: 30px;
    font-size: 13px;
}

