html {
    height: 100%;
    body {
        margin: 0px;
        padding: 0px;
        height: 100%;
        .contenedor{
            height: 100%;
            position: relative;
            .contenido{
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
            .pop_up{
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 2;
            }
        }
    }
}

@media only screen and (max-width: 768px){

    .contenedor{
        .contenido{
            .pedidos{
                width: 100%;
                height: 100%;
                background: #ddd;
            }
            .categorias{
                
            }
            .productos{
                
            }
            .configuracion{
                
            }
        }
    }

}
@media only screen and (min-width: 769px){

    .contenedor{
        .contenido{
            .pedidos{
                width: 360px;
                height: 100%;
                background: #ddd;
                float: left;
            }
            .categorias{
                width: 150px;
                height: 100%;
                background: #ccc;
                float: left;
            }
            .productos{
                width: 150px;
                height: 100%;
                background: #bbb;
                float: left;
            }
            .configuracion{
                width: 108px;
                height: 100%;
                background: #aaa;
                float: left;
            }
        }
    }

}