form {
    width: 100%;
    display: block;
    fieldset{
        .columna_2{
            li {
                float: left;
            }
        }
        .columna_3{
            li {
                float: left;
            }
        }
    }
}

.form_style_01 {
    background: #999;
    padding: 2px;
    fieldset{
        background: #ddd;
        .columna_2 {
            height: 200px;
            li {
                width: 50%;
            }
        }
        .columna_3 {
            height: 200px;
            li {
                width: 33.33%;    
            }
        }
    }
}