.color_header{
    background: #000000;
}
.color_footer{
    background: #000000;
}
.color_pagina{
    background: #999999;
}
.color_icons{
    color: #fff;
}
.color_shop_circle{
    background: #ccc;
}
.color_shop_circle .cantcart_num{
    color: #000;
}
.font_shop_circle{
    font-size: 14px;
}