.contenedor .menu_left .cont_menu_left .btn_toogle{
    color: #941C80;
}
.contenedor .pagina .header{
    background: #ffffff;
}
.contenedor .pagina .header .shop{
    color: #941C80;
}
.contenedor .pagina .footer{
    background: #000000;
}
.contenedor .pagina .contenido{
    background: #999999;
}
.contenedor .pagina .header .cantcart{
    background: #ccc;
}
.contenedor .pagina .header .cantcart .cantcart_num{
    color: #000;
    font-size: 14px;
}
.contenedor .pagina .contenido .cont_contenido{
    
}
.contenedor .pagina .contenido .cont_contenido .botones_principales{
    background: #ccc;
}
.contenedor .pagina .contenido .cont_contenido .botones_principales .nombre{
    font-size: 19px;
}
.contenedor .pagina .contenido .cont_contenido .botones_principales .descripcion{
    font-size: 18px;
}
.contenedor .pagina .contenido .cont_contenido .botones_principales .precio{
    font-size: 19px;
}