.contenedor .menu_left .cont_menu_left .btn_toogle{
    color: #ED030C;
}
.contenedor .pagina .header{
    background: #000;
    border-bottom: 1px solid #ED030C;
}
.contenedor .pagina .header .shop{
    color: #ED030C;
}
.contenedor .pagina .footer{
    background: #000;
    border-top: 1px solid #ED030C;
}
.contenedor .pagina .contenido{
    background: #e5e5e5;
}
.contenedor .pagina .header .cantcart{
    background: #fff;
}
.contenedor .pagina .header .cantcart .cantcart_num{
    color: #000;
    font-size: 14px;
}
.contenedor .pagina .contenido .cont_contenido{
    
}
.contenedor .pagina .contenido .cont_contenido .botones_principales{
    background: #ccc;
}
.contenedor .pagina .contenido .cont_contenido .botones_principales .nombre{
    font-size: 19px;
    font-weight: bold;
}
.contenedor .pagina .contenido .cont_contenido .botones_principales .descripcion{
    font-size: 15px;
}
.contenedor .pagina .contenido .cont_contenido .botones_principales .precio{
    font-size: 19px;
}