.contenedor .menu_left .cont_menu_left .btn_toogle{
    color: #ED030C;
}
.contenedor .pagina .header{
    background: #000;
    border-bottom: 1px solid #ED030C;
}
.contenedor .pagina .header .shop{
    color: #ED030C;
}
.contenedor .pagina .footer{
    background: #000;
    border-top: 1px solid #ED030C;
}
.contenedor .pagina .contenido{
    background: url('https://gm1.ggpht.com/7FWwQoBAwLqIo5RwNuJTHa5THwdSvGOYwY58Qk16k5_6TEWatznHldbH5iWlgkqlkm7laY9HZmigesiST4uNvIIVgV4m0JkXP9d29BfQzcyc6nudoEUyfhKyU9LCWRK4JhAou2XdLESlmgeqW9uSVFlTBuYgeSX1fPk2yn7i6RhMmV8ARQHvo70IRhidJA_1zuBE3U_vP9PD2KaPD4IGKOEJH3NdE9CV62GbzsZz33vQ4IlYtTbVCJ1nlgk71FG-vA9IKoDHqwGHcJYnG4vwxrYiiSDyENOBDoHzDxZwBoln_JDU1NDXl0LB9wptr1m2MVCFHZdFle_Yuf-TpivBejtgdyytaYKteB8JzDPh88nsXRwGKUYiTHSifRjXt4Luh1xx7EQ7hUHEVgVlOo6JEhPe7-8gSgu2F4QTfVgJKbICMy8w_Hyu8fT-4ChimrjjWmMHFMzYw9t_OFGMw5zr9uG0b6PNCtH1eRLNii9PNGXK7MNDMIDGMTW5X0RJeZzq7zNRrKxU9Bkr9d3bZFhISdWlIxPPpWrDG-MfmjBRwyUl2LPl8Nicg6oyVenOL5q9c8JupYeBNWp1Kl2y1ya8abui57GCdLNZsYiQsP1ZWxoi7dFSWwaM6Z2UGSEwnWMafSO0LIaDsW1rc4ekPEwnxQCcO38a147CNTwse2kOm5XgDT2c0m1-G9LZxG2UfK9RwJUUTVVxuUnFloY=s0-l75-ft-l75-ft');
}
.contenedor .pagina .header .cantcart{
    background: #fff;
}
.contenedor .pagina .header .cantcart .cantcart_num{
    color: #000;
    font-size: 14px;
}
.contenedor .pagina .contenido .cont_contenido{
    
}
.contenedor .pagina .contenido .cont_contenido .botones_principales{
    background: #ccc;
}
.contenedor .pagina .contenido .cont_contenido .botones_principales .nombre{
    font-size: 21px;
}
.contenedor .pagina .contenido .cont_contenido .botones_principales .descripcion{
    font-size: 15px;
}
.contenedor .pagina .contenido .cont_contenido .botones_principales .precio{
    font-size: 19px;
}