/* MODAL CARTA */
.modal_carta .info_modal{
    
}
/* MODAL CARRO */
.modal_carro .info_modal{
    padding-bottom: 52px;
}
/* MODAL PRODUCTOS PROMO */
.modal_productos_promo .info_modal{
    
}
/* MODAL PREGUNTA PRODUCTOS */
.modal_pregunta_productos .info_modal{
    
}




/* MODAL CARTA */
.modal_carta{
       
}
.modal_carta .lista_productos{
    padding: 10px;
}
.modal_carta .lista_productos .producto{
    background: #ccc;
    margin-bottom: 6px;
    padding: 6px;
}
.modal_carta .lista_productos .producto .nombre{
    font-size: 16px;
}
.modal_carta .lista_productos .producto .descripcion{
    font-size: 10px;
}
.modal_carta .lista_productos .categoria{
    background: #ccc;
    margin-bottom: 6px;
    padding: 6px;
}
.modal_carta .lista_productos .categoria .detalle_pro{
    
}
.modal_carta .lista_productos .categoria .detalle_pro .nombre_pro{
    width: calc(100% - 70px);
    float: left;
    font-size: 13px;
}
.modal_carta .lista_productos .categoria .detalle_pro .precio_pro{
    width: 70px;
    float: left;
    text-align: right;
    font-size: 16px;
}
.modal_carta .lista_productos .categoria .nombre{
    font-size: 16px;
}
.modal_carta .lista_productos .categoria .descripcion{
    font-size: 10px;
}
.modal_carta .lista_productos .categoria .info{
    
}
.modal_carta .lista_productos .categoria .info_cont{
    
}
.modal_carta .lista_productos .categoria .info_cont .info_01{
    width: calc(100% - 30px);
    float: left;
    font-size: 12px;
    padding-top: 9px;
}
.modal_carta .lista_productos .categoria .info_cont .info_02{
    width: 30px;
    float: left;
    font-size: 30px;
}

.modal_carta{
       
}
.modal_carta .lista_categorias{
    padding: 10px;
}
.modal_carta .lista_categorias .producto{
    background: #ccc;
    margin-bottom: 6px;
    padding: 6px;
}
.modal_carta .lista_categorias .producto .nombre{
    font-size: 16px;
}
.modal_carta .lista_categorias .producto .descripcion{
    font-size: 10px;
}
.modal_carta .lista_categorias .categoria{
    background: #ccc;
    margin-bottom: 6px;
    padding: 6px;
}
.modal_carta .lista_categorias .categoria .nombre{
    font-size: 20px;
}
.modal_carta .lista_categorias .categoria .descripcion{
    font-size: 10px;
}
.modal_carta .lista_categorias .categoria .listado{
    color: #000;
    padding-top: 6px;
}
.modal_carta .lista_categorias .categoria .listado .prod_item{
    font-size: 14px;
    padding-top: 2px;
}
.modal_carta .lista_categorias .categoria .listado .prod_item .prod_i_nom{
    float: left;
    width: 78%;
    padding-right: 2%;
    font-size: 12px;
}
.modal_carta .lista_categorias .categoria .listado .prod_item .prod_i_pre{
    float: left;
    width: 20%;
    text-align: right;
    font-size: 16px;
}
.modal_carta .lista_categorias .categoria .listado .prod_item{
    
}

.modal_productos_promo{
    
}
.modal_productos_promo .pro_cat_promo{
    padding: 10px;
}
.modal_productos_promo .pro_cat_promo .pro_cat_item{
    margin-top: 2px;
}
.modal_productos_promo .pro_cat_promo .pro_cat_item .pro_cat_item_select{
    float: left;
    width: 40px;
}
.modal_productos_promo .pro_cat_promo .pro_cat_item .pro_cat_item_select .select_promo{
    width: 100%;
}
.modal_productos_promo .pro_cat_promo .pro_cat_item .pro_cat_item_nombre{
    width: calc(100% - 50px);
    float: left;
    padding-left: 10px;
    font-size: 16px;
    padding-top: 0px;
}
.modal_productos_promo .info_modal{
    padding-bottom: 52px;
}





.modal_carta .lista_promociones{
    margin: 10px;
    padding-top: 10px;
}

.modal_carta .lista_promociones .promocion_categoria{
    padding: 0px 10px 10px 10px;
}
.modal_carta .lista_promociones .promocion_categoria .pro_titulo{
    
}
.modal_carta .lista_promociones .promocion_categoria .item_pro_cat{
    
}
.modal_carta .lista_promociones .promocion_categoria .item_pro_cat .item_pro_cat_cant{
    float: left;
    padding-right: 4px;
}
.modal_carta .lista_promociones .promocion_categoria .item_pro_cat .item_pro_cat_nom{
    float: left;
}
.modal_carta .lista_promociones .promocion_producto{
    padding: 0px 10px 10px 10px;
}
.modal_carta .lista_promociones .promocion_producto .pro_titulo{
    
}
.modal_carta .lista_promociones .promocion_producto .item_pro_pro{
    
}


.modal_pregunta_productos .s_pregunta{
    padding: 10px;
}
.modal_pregunta_productos .s_pregunta .e_pregunta{

}
.modal_pregunta_productos .s_pregunta .e_pregunta .pregunta_titulo{
    font-size: 20px;
}
.modal_pregunta_productos .s_pregunta .e_pregunta .v_pregunta{
}
.modal_pregunta_productos .s_pregunta .e_pregunta .titulo_v_pregunta{
    margin-top: 14px;
    font-size: 12px;
    margin-bottom: 4px;
}
.modal_pregunta_productos .s_pregunta .e_pregunta .v_pregunta .n_pregunta{
    background: #ccc;
    padding: 6px;
    font-size: 14px;
}
.modal_pregunta_productos .s_pregunta .e_pregunta .v_pregunta .selected{
    background: #999;
}


.modal_carro .process_carro{
    padding: 10px;
}
.modal_carro .process_carro .process_carro_promo{
    margin-bottom: 10px;
    background: #ccc;
    padding: 6px;
}
.modal_carro .process_carro .process_carro_promo .promo_info{
    font-size: 18px;
    padding-bottom: 6px;
}
.modal_carro .process_carro .process_carro_promo .promo_detalle{
    
}
.modal_carro .process_carro .process_carro_promo .promo_detalle .promo_detalle_item{
    margin-bottom: 1px;
}
.modal_carro .process_carro .process_carro_promo .promo_detalle .promo_detalle_item .promo_detalle_nombre{
    width: calc(100% - 75px);
    float: left;
    font-size: 13px;
    padding-top: 6px;
}
.modal_carro .process_carro .process_carro_promo .promo_detalle .promo_detalle_item .promo_detalle_acciones{
    width: 75px;
    float: left;
}
.modal_carro .process_carro .process_carro_promo .promo_detalle .promo_detalle_item .promo_detalle_acciones .accion{
    width: 19px;
    float: left;
    margin-left: 1px;
}
.modal_carro .process_carro .process_carro_promo .promo_detalle .promo_detalle_item .promo_detalle_acciones .precio{
    width: 54px;
    float: left;
    margin-left: 1px;
    padding-top: 6px;
    font-size: 13px;
}
.modal_carro .process_carro .process_carro_restantes{
    background: #ccc;
    padding: 6px;
}
.modal_carro .process_carro .process_carro_restantes .restantes_detalle_item{
    margin-bottom: 1px;
}
.modal_carro .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_nombre{
    width: calc(100% - 75px);
    float: left;
    font-size: 12px;
    padding-top: 6px;
}
.modal_carro .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones{
    width: 75px;
    float: left;
}
.modal_carro .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones .accion{
    width: 19px;
    float: left;
    margin-left: 1px;
}
.modal_carro .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones .precio{
    width: 54px;
    float: left;
    margin-left: 1px;
    font-size: 13px;
    padding-top: 6px;
}
.modal_carro .process_carro .process_carro_precio_carta{
    font-size: 40px;
    text-align: right;
}

.carro_direccion{
    height: calc(100% - 124px);
}
.modal_carro .cont_direccion{
    height: 100%;
}
.modal_carro .cont_direccion .direccion_opciones{
    padding: 10px;
}
.modal_carro .cont_direccion .direccion_opciones .dir_op{
    margin-bottom: 10px;
    padding: 10px;
    background: #ccc;
}
.modal_carro .cont_direccion .direccion_opciones .dir_op_select{
    margin-bottom: 10px;
    padding: 10px;
    background: #f99;
}
.modal_carro .cont_direccion .direccion_opciones .dir_op .title{
    font-size: 17px;
    display: block;
}
.modal_carro .cont_direccion .direccion_opciones .dir_op .stitle{
    font-size: 11px;
    display: block;
}
.modal_carro .cont_direccion .direccion_op1{
    padding: 10px;
}
.modal_carro .cont_direccion .direccion_op1 .dir_locales{
    margin-bottom: 10px;
}
.modal_carro .cont_direccion .direccion_op1 .dir_locales .cont_local{
    background: #ccc;
}
.modal_carro .cont_direccion .direccion_op1 .dir_locales .cont_local .local_info{
    width: calc(100% - 40px);
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
.modal_carro .cont_direccion .direccion_op1 .dir_locales .cont_local .local_mapa{
    width: 40px;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
.modal_carro .cont_direccion .direccion_op1 .dir_locales .cont_local .local_info .title{
    font-size: 17px;
    display: block;
    padding-left: 10px;
}
.modal_carro .cont_direccion .direccion_op1 .dir_locales .cont_local .local_info .stitle{
    font-size: 11px;
    display: block;
    padding-left: 10px;
}
.modal_carro .cont_direccion .direccion_op1 .dir_locales .lmap{
    display: none;
    height: 150px;
}
.modal_carro .cont_direccion .direccion_op1 .dir_locales .cont_local .local_mapa .icon_mapa{
    width: 30px;
    height: 30px;
    background: #f00;
}
.modal_carro .cont_direccion .direccion_op2{
    height: 100%;
}
.modal_carro .cont_direccion .direccion_op2 #pac-input{
    margin: 1%;
    width: 97%;
    height: 40px
}
.modal_carro .cont_direccion .direccion_op2 #map_direccion{
    height: 100%;
}
.modal_carro .carro_final .cont_final{
    padding: 10px;
}
.modal_carro .carro_final .cont_final .final_section{
    
}
.modal_carro .carro_final .cont_final .final_section .fs_ttl_01{
    font-size: 14px;
    padding-bottom: 2px;
}
.modal_carro .carro_final .cont_final .final_section .fs_ttl_02{
    font-size: 22px;
    padding-top: 16px;
}
.modal_carro .carro_final .cont_final .final_section .fs_inputs{
    padding-bottom: 6px;
    padding-top: 6px;
}
.modal_carro .carro_final .cont_final .final_section .fs_inputs .fs_in{
    float: left;
    width: 50%;
}
.modal_carro .carro_final .cont_final .final_section .fs_inputs .fs_in .fsin_ttl{
    font-size: 16px;
}
.modal_carro .carro_final .cont_final .final_section .fs_inputs .fs_in .fsin_in{
    
}
.modal_carro .carro_final .cont_final .final_section .fs_inputs .fs_in .fsin_in input[type="text"]{
    width: 94%;
    border: 0px;
    height: 24px;
}
.modal_carro .carro_final .cont_final .final_section .fs_inputs2{
    margin-top: 6px;
    background: #ccc;
    padding: 6px 10px;
}
.modal_carro .carro_final .cont_final .final_section .fs_inputs2 .fs_in{
    float: left;
}
.modal_carro .carro_final .cont_final .final_section .fs_inputs2 .fs_in:nth-child(1){
    width: calc(100% - 18px);
}
.modal_carro .carro_final .cont_final .final_section .fs_inputs2 .fs_in:nth-child(2){
    width: 18px;
}
.modal_carro .carro_final .cont_final .final_section .fs_inputs2 .fs_in .fsin_ttl{
    font-size: 16px;
}
.modal_carro .carro_final .cont_final .final_section .fs_inputs2 .fs_in .fsin_in{
    
}
.modal_carro .carro_final .cont_final .final_section .fs_inputs2 .fs_in .fsin_in input[type="checkbox"]{
    width: 18px;
    border: 0px;
    height: 18px;
}
.modal_carro .carro_final .cont_final .final_section .fs_inputs3{
    margin-top: 6px;
    background: #ccc;
    padding: 6px 10px;
}
.modal_carro .carro_final .cont_final .final_section .fs_inputs3 .fs_in{
    float: left;
}
.modal_carro .carro_final .cont_final .final_section .fs_inputs3 .fs_in:nth-child(1){
    width: calc(100% - 40px);
}
.modal_carro .carro_final .cont_final .final_section .fs_inputs3 .fs_in:nth-child(2){
    width: 40px;
}
.modal_carro .carro_final .cont_final .final_section .fs_inputs3 .fs_in .fsin_ttl{
    font-size: 16px;
}
.modal_carro .carro_final .cont_final .final_section .fs_inputs3 .fs_in .fsin_in select{
    width: 40px;
    border: 0px;
    height: 18px;
}
.modal_carro .carro_final .cont_final .final_section .fin_detalle{
    padding-top: 20px;
}
.modal_carro .carro_final .cont_final .final_section .fin_detalle .fin_pedido{
    
}
.modal_carro .carro_final .cont_final .final_section .fin_detalle .fin_despacho{
    
}
.modal_carro .carro_final .cont_final .final_section .fin_detalle .fin_total{
    
}
.modal_carro .carro_final .cont_final .final_section .fin_detalle .fin_dll_name{
    float: right;
    font-size: 14px;
    width: calc(100% - 70px);
    text-align: right;
}
.modal_carro .carro_final .cont_final .final_section .fin_detalle .fin_dll_price{
    float: right;
    font-size: 14px;
    padding-left: 4px;
    width: 66px;
    text-align: right;
}
.modal_carro .carro_seguimiento{
    
}
.modal_carro .carro_seguimiento .cont_pedido{
    margin: 10px;
    background: #ccc;
    padding: 10px;
}
.modal_carro .carro_seguimiento .cont_pedido .pedido{
    
}
.modal_carro .carro_seguimiento .cont_pedido .pedido .pedido_name{
    float: left; 
    width: calc(100% - 20px); 
    font-size: 18px
}
.modal_carro .carro_seguimiento .cont_pedido .pedido .pedido_action{
    float: left; 
    width: 20px; 
    height: 20px; 
    background: #000;
    margin-top: 2px;
}
.modal_carro .carro_seguimiento .cont_pedido .detalle_pedido{
    height: 200px;
    background: #f00;
    display: none;
}