body {
  margin: 0px;
  padding: 0px;
  background: #ddd;
  font-family: "Open Sans Condensed", sans-serif;
}
body .contenedor .modals {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  display: none;
}
body .contenedor .modals .cont_modal {
  width: 85%;
  max-width: 400px;
  height: 85%;
  max-height: 550px;
  background: #999;
  border-radius: 25px;
}
body .contenedor .modals .cont_modal .cont_relative {
  width: 100%;
  height: 100%;
  position: relative;
}
body .contenedor .modals .cont_modal .cont_relative .close {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #ccc url("../images/icons-set.png") no-repeat;
  background-position: -112px -329px;
  top: -10px;
  right: -10px;
  border-radius: 20px;
  z-index: 2;
}
body .contenedor .modals .cont_modal .cont_relative .mo_content {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  overflow-y: auto;
}
body .contenedor .modals .cont_modal .cont_relative .mo_content .mo_cont {
  width: 100%;
}
body .contenedor .modals .cont_modal .cont_relative .mo_content .mo_cont ul li {
  width: 50%;
  float: left;
  height: 200px;
}
body .contenedor .modals .cont_modal .cont_relative .mo_content .mo_cont ul .foto img {
  width: 90%;
  height: 90%;
  padding: 5%;
}
body .contenedor .modals .cont_modal .cont_relative .mo_content .mo_cont ul .info .cont_info {
  height: 85%;
  width: 85%;
  margin: 15% 15% 0 0%;
}
body .contenedor .modals .cont_modal .cont_relative .mo_content .mo_cont ul .info .cont_info h2 {
  font-size: 18px;
  padding-top: 20px;
}
body .contenedor .modals .cont_modal .cont_relative .mo_content .mo_cont ul .info .cont_info h3 {
  font-size: 14px;
}
body .contenedor .modals .cont_modal .cont_relative .mo_content .mo_cont ul .info .cont_info a {
  display: block;
  margin-top: 30px;
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
body .contenedor .sitio {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
body .contenedor .sitio .menu_top {
  width: 100%;
  height: 50px;
  background: #000;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
}
body .contenedor .sitio .menu_top .btn_menu {
  width: 40px;
  height: 40px;
  left: 10px;
  background: url("../images/icons-set.png") no-repeat;
  background-position: -173px -378px;
}
body .contenedor .sitio .menu_top .btn_perfil {
  width: 40px;
  height: 40px;
  right: 10px;
  background: url("../images/icons-set.png") no-repeat;
  background-position: -710px -378px;
}
body .contenedor .sitio .menu_top .logo {
  width: 170px;
  position: absolute;
}
body .contenedor .sitio .menu_top .logo .logo_img {
  width: 40px;
  height: 40px;
  float: left;
  background: url("../images/icons-set.png") no-repeat;
  background-position: -474px -621px;
}
body .contenedor .sitio .menu_top .logo .logo_txt {
  float: left;
  color: #fff;
  font-size: 24px;
  width: 130px;
  padding-top: 3px;
}
body .contenedor .sitio .menu_left {
  height: 100%;
  background: #222;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}
body .contenedor .sitio .menu_left .cont_menu {
  overflow-y: scroll;
}
body .contenedor .sitio .menu_left .cont_menu .menu {
  padding-top: 50px;
}
body .contenedor .sitio .menu_left .cont_menu .menu .bloque {
  display: block;
}
body .contenedor .sitio .menu_left .cont_menu .menu .bloque .titulo {
  position: relative;
  width: 198px;
  background: #272727;
}
body .contenedor .sitio .menu_left .cont_menu .menu .bloque .titulo .icono {
  width: 40px;
  height: 40px;
  position: absolute;
  background: url("../images/icons-set.png") no-repeat;
}
body .contenedor .sitio .menu_left .cont_menu .menu .bloque .titulo .ic1 {
  background-position: 7px -185px;
}
body .contenedor .sitio .menu_left .cont_menu .menu .bloque .titulo .texto {
  display: block;
  font-size: 16px;
  color: #fff;
  padding: 9px 0px 9px 40px;
}
body .contenedor .sitio .menu_left .cont_menu .menu .bloque .bloque_lista {
  background: #333;
  width: 198px;
  display: block;
}
body .contenedor .sitio .menu_left .cont_menu .menu .bloque .bloque_lista li {
  color: #fff;
  font-size: 14px;
  padding: 7px 10px;
  position: relative;
}
body .contenedor .sitio .menu_left .cont_menu .menu .bloque .bloque_lista li p {
  position: absolute;
  background: #151515;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
}
body .contenedor .sitio .contenido {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
body .contenedor .sitio .contenido .cont_contenido {
  overflow-y: scroll;
}
body .contenedor .sitio .contenido .cont_contenido .html {
  width: calc(100% - 206px);
  height: calc(100% - 54px);
  padding-top: 54px;
  padding-left: 202px;
  padding-bottom: 0px;
  padding-right: 0px;
  background: #ccc;
}
body .relative {
  position: relative;
  width: 100%;
  height: 100%;
}

.pagina .cont_pagina .cont_pag .list_titulo {
  position: relative;
}
.pagina .cont_pagina .cont_pag .list_titulo .titulo {
  position: absolute;
  top: 0px;
  left: 0px;
}
.pagina .cont_pagina .cont_pag .list_titulo .titulo h1 {
  font-size: 22px;
}
.pagina .cont_pagina .cont_pag .list_titulo .titulo h2 {
  font-size: 14px;
}
.pagina .cont_pagina .cont_pag .list_titulo .opts {
  position: absolute;
  top: 0px;
  right: 0px;
}
.pagina .cont_pagina .cont_pag .list_titulo .opts .opt {
  float: left;
  font-size: 16px;
  font-weight: bold;
  padding-right: 10px;
}
.pagina .cont_pagina .cont_pag .list_titulo .opts .opt .order {
  width: 28px;
  height: 28px;
  background: url("../images/icons-set.png") no-repeat;
  background-position: -776px -672px;
}
.pagina .cont_pagina .cont_pag .listado_items {
  padding: 60px 2% 10px 2%;
}
.pagina .cont_pagina .cont_pag .listado_items .l_item {
  display: block;
  background: #d6d6d6;
  border-bottom: 1px solid #bbb;
  padding: 5px;
  margin-bottom: 5px;
}
.pagina .cont_pagina .cont_pag .listado_items .l_item .detalle_item {
  position: relative;
}
.pagina .cont_pagina .cont_pag .listado_items .l_item .detalle_item .nombre {
  float: left;
  padding-top: 3px;
  font-size: 16px;
  position: absolute;
}
.pagina .cont_pagina .cont_pag .listado_items .l_item .detalle_item .icono {
  float: right;
  width: 28px;
  height: 28px;
  background: url("../images/icons-set.png") no-repeat;
  cursor: pointer;
  transform: scale(1);
  padding-left: 4px;
}
.pagina .cont_pagina .cont_pag .listado_items .l_item .detalle_item .ic1 {
  background-position: -173px -432px;
}
.pagina .cont_pagina .cont_pag .listado_items .l_item .detalle_item .ic2 {
  background-position: -416px -674px;
}
.pagina .cont_pagina .cont_pag .listado_items .l_item .detalle_item .ic3 {
  background-position: -358px -482px;
}
.pagina .cont_pagina .cont_pag .listado_items .l_item .detalle_item .ic4 {
  background-position: -414px -383px;
}
.pagina .cont_pagina .cont_pag .listado_items .l_item .detalle_item .ic5 {
  background-position: -294px -527px;
}
.pagina .cont_pagina .cont_pag .listado_items .l_item .detalle_item .ic6 {
  background-position: -771px -46px;
}
.pagina .cont_pagina .cont_pag .listado_items .l_item .detalle_item .ic7 {
  background-position: -114px -95px;
}
.pagina .cont_pagina .cont_pag .listado_items .l_item .detalle_item .ic8 {
  background-position: -712px -481px;
}
.pagina .cont_pagina .cont_pag .listado_items .l_item .detalle_item .ic9 {
  background-position: -54px -479px;
}
.pagina .cont_pagina .cont_pag .listado_items .l_item .detalle_item .ic10 {
  background-position: -54px -383px;
}
.pagina .cont_pagina .cont_pag .listado_items .l_item .detalle_item .ic11 {
  background-position: -773px -47px;
}
.pagina .cont_pagina .cont_pag .listado_items .l_item .detalle_item .ic12 {
  background-position: -115px -625px;
}
.pagina .cont_pagina .cont_pag .listado_items .l_item .detalle_item .ic13 {
  background-position: -173px -47px;
}
.pagina .cont_pagina .cont_pag .listado_items .l_item .detalle_item .ic14 {
  background-position: -533px -383px;
}
.pagina .cont_pagina .cont_pag .listado_items .l_item .detalle_item .ic15 {
  background-position: -294px 1px;
}
.pagina .cont_pagina .cont_pag .listado_items .l_item .detalle_item .ic16 {
  background-position: -713px -384px;
}
.pagina .cont_pagina .cont_pag .listado_items .l_item .detalle_item .ic17 {
  background-position: -54px -335px;
}
.pagina .cont_pagina .cont_pag .list_data .data {
  float: left;
}
.pagina .cont_pagina .cont_pag .list_data .data .cont_data {
  padding: 10px;
}
.pagina .cont_pagina .cont_pag .list_data .data .cont_data h1 {
  font-size: 22px;
}
.pagina .cont_pagina .cont_pag .list_data .data .cont_data .data_list {
  display: block;
  height: 131px;
  overflow-y: auto;
}
.pagina .cont_pagina .cont_pag .list_data .data .cont_data .data_list .cat_list li {
  display: block;
  background: #ccc;
  border-bottom: 1px solid #999;
  padding: 2px 10px;
  font-size: 18px;
}
.pagina .cont_pagina .cont_pag .normal .data {
  width: 50%;
}
.pagina .cont_pagina .cont_pag .resp .data {
  width: 100%;
}

.pagina .cont_pagina .cont_pag .lista_items_graficos {
  position: relative;
  height: 240px;
}
.pagina .cont_pagina .cont_pag .lista_items_graficos .titulo_items_graficos {
  left: 0px;
  width: 110px;
  padding-right: 5px;
  cursor: pointer;
}
.pagina .cont_pagina .cont_pag .lista_items_graficos .titulo_items_graficos h1 {
  font-size: 24px;
}
.pagina .cont_pagina .cont_pag .lista_items_graficos .titulo_items_graficos h2 {
  font-size: 14px;
}
.pagina .cont_pagina .cont_pag .lista_items_graficos .grafico {
  height: 200px;
  right: 0px;
  width: calc(100% - 115px);
}
.pagina .cont_pagina .cont_pag .lista_items .titulo_items {
  font-size: 28px;
  padding-bottom: 20px;
}
.pagina .cont_pagina .cont_pag .lista_items .titulo_items h1 {
  font-size: 22px;
}
.pagina .cont_pagina .cont_pag .lista_items .titulo_items h2 {
  font-size: 14px;
}
.pagina .cont_pagina .cont_pag .lista_items .items_list .list_item {
  float: left;
}
.pagina .cont_pagina .cont_pag .lista_items .items_list .list_item .cont_item {
  width: 100%;
  cursor: pointer;
}
.pagina .cont_pagina .cont_pag .lista_items .items_list .list_item .cont_item .item_image {
  height: 100px;
  width: 90px;
  margin: 0 auto;
}
.pagina .cont_pagina .cont_pag .lista_items .items_list .list_item .cont_item .item_ttl {
  padding-top: 5px;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  color: #000;
}
.pagina .cont_pagina .cont_pag .lista_items .items_list .list_item .dns_item {
  width: 90%;
  margin: 0 auto;
  cursor: pointer;
}
.pagina .cont_pagina .cont_pag .lista_items .items_list .list_item .dns_item .cont_dns {
  width: 190px;
  background: #fff;
  height: 95px;
  padding-top: 5px;
}
.pagina .cont_pagina .cont_pag .lista_items .items_list .list_item .dns_item .cont_dns h1 {
  display: block;
  font-size: 16px;
  text-align: center;
}
.pagina .cont_pagina .cont_pag .lista_items .items_list .list_item .dns_info {
  font-size: 15px;
  color: #000;
  padding-top: 5px;
  width: 90%;
  margin: 0 auto;
  text-align: left;
}
.pagina .cont_pagina .cont_pag .lista_items .items_list .wi_01 {
  width: 33.33%;
  min-width: 90px;
}
.pagina .cont_pagina .cont_pag .lista_items .items_list .wi_02 {
  width: 66.66%;
  min-width: 180px;
}

.pagina .cont_pagina .cont_pag form .form_titulo .titulo {
  float: left;
  font-size: 28px;
}
.pagina .cont_pagina .cont_pag form .form_titulo .opts {
  float: right;
}
.pagina .cont_pagina .cont_pag form .form_titulo .opts .opt {
  float: left;
}
.pagina .cont_pagina .cont_pag form fieldset.normal {
  padding: 10px 0px;
}
.pagina .cont_pagina .cont_pag form fieldset.normal label {
  display: block;
  margin-top: 6px;
  padding: 0 5%;
}
.pagina .cont_pagina .cont_pag form fieldset.normal label span {
  width: 16%;
  float: left;
  text-align: right;
  height: 32px;
  position: relative;
}
.pagina .cont_pagina .cont_pag form fieldset.normal label span p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  padding-right: 10%;
  font-size: 14px;
  line-height: 12px;
}
.pagina .cont_pagina .cont_pag form fieldset.normal label .inputs {
  width: 84%;
  float: left;
  height: 32px;
}
.pagina .cont_pagina .cont_pag form fieldset.normal label .checkbox {
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 6px;
}
.pagina .cont_pagina .cont_pag form fieldset.normal label textarea {
  width: 84%;
  float: left;
  height: 84px;
}
.pagina .cont_pagina .cont_pag form fieldset.normal label select {
  width: 84%;
  float: left;
  height: 32px;
}
.pagina .cont_pagina .cont_pag form fieldset.normal label #map {
  width: 84%;
  float: left;
  height: 300px;
}
.pagina .cont_pagina .cont_pag form fieldset.normal label .groupdetail {
  width: 84%;
  float: left;
}
.pagina .cont_pagina .cont_pag form fieldset.normal label .perfil_preguntas {
  width: 84%;
  float: left;
  padding-top: 4px;
}
.pagina .cont_pagina .cont_pag form fieldset.normal label .enviar {
  margin-left: 16%;
  margin-top: 16px;
}
.pagina .cont_pagina .cont_pag form fieldset.normal label .enviar a {
  text-decoration: none;
  padding: 6px 26px;
  background: #333;
  color: #fff;
  font-size: 15px;
}
.pagina .cont_pagina .cont_pag form fieldset.normal label .btn_borrar {
  width: 84%;
  float: left;
}
.pagina .cont_pagina .cont_pag form fieldset.normal label .btn_borrar .btn {
  background: #900;
  color: #fff;
  font-size: 16px;
  padding: 5px 0px;
  width: 100px;
  text-align: center;
}
.pagina .cont_pagina .cont_pag form fieldset.normal label .btn_info {
  width: 84%;
  float: left;
}
.pagina .cont_pagina .cont_pag form fieldset.normal label .btn_info .info {
  font-size: 16px;
  font-weight: bold;
  padding-top: 4px;
}
.pagina .cont_pagina .cont_pag form fieldset.normal .arbol {
  display: block;
  padding: 0 5%;
}
.pagina .cont_pagina .cont_pag form fieldset.normal .arbol .cont_arbol {
  padding-left: 16%;
}
.pagina .cont_pagina .cont_pag form fieldset.normal .arbol .cont_arbol .parent_arbol {
  padding-top: 5px;
}
.pagina .cont_pagina .cont_pag form fieldset.normal .arbol .cont_arbol .parent_arbol .bottom_arbol {
  padding-bottom: 4px;
}
.pagina .cont_pagina .cont_pag form fieldset.normal .arbol .cont_arbol .parent_arbol .bottom_arbol div .cantidad_arbol {
  width: 50px;
  float: left;
}
.pagina .cont_pagina .cont_pag form fieldset.normal .arbol .cont_arbol .parent_arbol .bottom_arbol div .cantidad_arbol .select_arbol {
  height: 30px;
}
.pagina .cont_pagina .cont_pag form fieldset.normal .arbol .cont_arbol .parent_arbol .bottom_arbol div .nombre_arbol {
  float: left;
  padding-top: 8px;
  font-size: 16px;
}
.pagina .cont_pagina .cont_pag form fieldset.normal .arbol .cont_arbol .parent_arbol .bottom_arbol .left_arbol {
  padding-left: 30px;
  padding-top: 4px;
}
.pagina .cont_pagina .cont_pag form fieldset.normal .map {
  display: block;
  height: 200px;
}
.pagina .cont_pagina .cont_pag form fieldset.resp {
  padding: 10px 0px;
}
.pagina .cont_pagina .cont_pag form fieldset.resp label {
  display: block;
  margin-top: 6px;
  padding: 0 3%;
}
.pagina .cont_pagina .cont_pag form fieldset.resp label span {
  width: 100%;
  height: 32px;
}
.pagina .cont_pagina .cont_pag form fieldset.resp label span p {
  width: 100%;
  font-size: 14px;
  text-align: left;
}
.pagina .cont_pagina .cont_pag form fieldset.resp label .inputs {
  width: 100%;
  height: 32px;
}
.pagina .cont_pagina .cont_pag form fieldset.resp label .checkbox {
  width: 20px;
  height: 20px;
}
.pagina .cont_pagina .cont_pag form fieldset.resp label textarea {
  width: 100%;
  height: 64px;
}
.pagina .cont_pagina .cont_pag form fieldset.resp label select {
  width: 100%;
  height: 32px;
}
.pagina .cont_pagina .cont_pag form fieldset.resp label #map {
  width: 100%;
  height: 300px;
}
.pagina .cont_pagina .cont_pag form fieldset.resp label .perfil_preguntas {
  width: 100%;
  padding-top: 4px;
}
.pagina .cont_pagina .cont_pag form fieldset.resp label .groupdetail {
  width: 100%;
}
.pagina .cont_pagina .cont_pag form fieldset.resp label .enviar {
  margin-top: 16px;
}
.pagina .cont_pagina .cont_pag form fieldset.resp label .enviar a {
  text-decoration: none;
  padding: 6px 26px;
  background: #333;
  color: #fff;
  font-size: 15px;
}
.pagina .cont_pagina .cont_pag form fieldset.resp label .btn_borrar {
  width: 100%;
}
.pagina .cont_pagina .cont_pag form fieldset.resp label .btn_borrar .btn {
  background: #900;
  color: #fff;
  font-size: 16px;
  padding: 5px 0px;
  width: 100px;
  text-align: center;
}
.pagina .cont_pagina .cont_pag form fieldset.resp label .btn_info {
  width: 100%;
}
.pagina .cont_pagina .cont_pag form fieldset.resp label .btn_info .info {
  font-size: 16px;
  font-weight: bold;
}
.pagina .cont_pagina .cont_pag form fieldset.resp .arbol {
  display: block;
  padding: 0 3%;
}
.pagina .cont_pagina .cont_pag form fieldset.resp .arbol .cont_arbol .parent_arbol {
  padding-top: 5px;
}
.pagina .cont_pagina .cont_pag form fieldset.resp .arbol .cont_arbol .parent_arbol .bottom_arbol {
  padding-bottom: 4px;
}
.pagina .cont_pagina .cont_pag form fieldset.resp .arbol .cont_arbol .parent_arbol .bottom_arbol div .cantidad_arbol {
  width: 50px;
  float: left;
}
.pagina .cont_pagina .cont_pag form fieldset.resp .arbol .cont_arbol .parent_arbol .bottom_arbol div .cantidad_arbol .select_arbol {
  height: 30px;
}
.pagina .cont_pagina .cont_pag form fieldset.resp .arbol .cont_arbol .parent_arbol .bottom_arbol div .nombre_arbol {
  float: left;
  padding-top: 8px;
  font-size: 16px;
}
.pagina .cont_pagina .cont_pag form fieldset.resp .arbol .cont_arbol .parent_arbol .bottom_arbol .left_arbol {
  padding-left: 30px;
  padding-top: 4px;
}
.pagina .cont_pagina .cont_pag form fieldset.resp .map {
  display: block;
  height: 200px;
  margin: 5px 3% 0 3%;
  background: #999;
}
.pagina .cont_pagina .cont_pag form fieldset.mini {
  padding: 10px;
}
.pagina .cont_pagina .cont_pag form fieldset.mini label {
  display: block;
}
.pagina .cont_pagina .cont_pag form fieldset.mini label h1 {
  display: block;
  padding-bottom: 6px;
  font-size: 22px;
}
.pagina .cont_pagina .cont_pag form fieldset.mini label span {
  width: 100%;
}
.pagina .cont_pagina .cont_pag form fieldset.mini label span p {
  width: 100%;
  font-size: 14px;
  text-align: left;
}
.pagina .cont_pagina .cont_pag form fieldset.mini label .inputs {
  width: 100%;
  height: 24px;
}
.pagina .cont_pagina .cont_pag form fieldset.mini label .checkbox {
  width: 20px;
  height: 20px;
}
.pagina .cont_pagina .cont_pag form fieldset.mini label textarea {
  width: 100%;
  height: 48px;
}
.pagina .cont_pagina .cont_pag form fieldset.mini label #map {
  width: 100%;
  height: 300px;
}
.pagina .cont_pagina .cont_pag form fieldset.mini label .perfil_preguntas {
  width: 100%;
  padding-top: 4px;
}
.pagina .cont_pagina .cont_pag form fieldset.mini label .groupdetail {
  width: 100%;
}
.pagina .cont_pagina .cont_pag form fieldset.mini label .enviar {
  margin-top: 16px;
}
.pagina .cont_pagina .cont_pag form fieldset.mini label .enviar a {
  text-decoration: none;
  padding: 6px 26px;
  background: #333;
  color: #fff;
  font-size: 15px;
}
.pagina .cont_pagina .cont_pag form fieldset.mini .arbol {
  display: block;
  padding: 0 5%;
}
.pagina .cont_pagina .cont_pag form fieldset.mini .arbol .cont_arbol {
  padding-left: 16%;
}
.pagina .cont_pagina .cont_pag form fieldset.mini .arbol .cont_arbol .parent_arbol {
  padding-top: 5px;
}
.pagina .cont_pagina .cont_pag form fieldset.mini .arbol .cont_arbol .parent_arbol .bottom_arbol {
  padding-bottom: 4px;
}
.pagina .cont_pagina .cont_pag form fieldset.mini .arbol .cont_arbol .parent_arbol .bottom_arbol div .cantidad_arbol {
  width: 50px;
  float: left;
}
.pagina .cont_pagina .cont_pag form fieldset.mini .arbol .cont_arbol .parent_arbol .bottom_arbol div .cantidad_arbol .select_arbol {
  height: 30px;
}
.pagina .cont_pagina .cont_pag form fieldset.mini .arbol .cont_arbol .parent_arbol .bottom_arbol div .nombre_arbol {
  float: left;
  padding-top: 8px;
  font-size: 16px;
}
.pagina .cont_pagina .cont_pag form fieldset.mini .arbol .cont_arbol .parent_arbol .bottom_arbol .left_arbol {
  padding-left: 30px;
  padding-top: 4px;
}
.pagina .cont_pagina .cont_pag form fieldset.mini .map {
  display: block;
  height: 200px;
  margin: 5px 5% 0 5%;
  background: #999;
}

.pagina {
  padding: 0px 10px 15px 10px;
  background: #ccc;
}
.pagina .title {
  margin-top: 10px;
  position: relative;
}
.pagina .title h1 {
  display: block;
  padding-right: 30px;
  font-weight: bold;
  font-size: 32px;
  text-shadow: 1px 1px 0px #969696;
}
.pagina .title ul {
  position: absolute;
  top: 6px;
  right: 0px;
}
.pagina .title ul li {
  float: left;
  width: 30px;
  height: 30px;
}
.pagina .title ul li.back {
  background: url("../images/icons-set.png") no-repeat;
  background-position: -594px -334px;
  cursor: pointer;
}
.pagina .cont_pagina {
  display: block;
  padding: 2px;
  background: #999;
  margin-top: 10px;
}
.pagina .cont_pagina .cont_pag {
  display: block;
  background: #ddd;
  padding: 10px;
}

.panel_admin {
  margin: 10px;
  padding: 10px;
  background: #999;
}
.panel_admin .data_info {
  font-weight: bold;
  font-size: 24px;
}

@media only screen and (max-width: 640px) {
  body .contenedor .sitio .menu_top .btn_menu {
    display: block;
  }
  body .contenedor .sitio .menu_top .logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  body .contenedor .sitio .menu_left {
    left: -210px;
  }
  body .contenedor .sitio .contenido .cont_contenido .html {
    width: calc(100% - 6px);
    padding-left: 2px;
  }
}
@media only screen and (min-width: 640px) {
  body .contenedor .sitio .menu_top .btn_menu {
    display: none;
  }
  body .contenedor .sitio .menu_top .logo {
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
  }
  body .contenedor .sitio .menu_left {
    width: 200px;
  }
}

/*# sourceMappingURL=layout.css.map */
